<link href="{T_THEME_PATH}/comboot/comboot-positive.css" data-id="style" rel="stylesheet"/>
<link href="{T_THEME_PATH}/comboot/bootstrap.min.css" rel="stylesheet"/>
<link href="{T_THEME_PATH}/comboot/font-awesome.min.css" rel="stylesheet"/>
<link href="{T_THEME_PATH}/comboot/colorpicker.min.css" rel="stylesheet"/>
<link href="{T_THEME_PATH}/comboot/lightbox.css" rel="stylesheet"/>
<link href="{T_THEME_PATH}/comboot/select.min.css" rel="stylesheet"/>
<link href="{T_THEME_PATH}/comboot/syntax-highlighting.css" rel="stylesheet"/>

<script src="{T_THEME_PATH}/comboot/jquery.min.js" type="text/javascript"></script>
<script src="{T_SUPER_TEMPLATE_PATH}/editor.js" type="text/javascript" ></script>
<script src="{T_THEME_PATH}/comboot/angular.min.js" type="text/javascript"></script>
<script src="{T_THEME_PATH}/comboot/progressbar.min.js" type="text/javascript"></script>
<script src="{T_THEME_PATH}/comboot/bootstrap.min.js" type="text/javascript"></script>
<script src="{T_THEME_PATH}/comboot/colorpicker.min.js" type="text/javascript"></script>
<script src="{T_THEME_PATH}/comboot/lightbox.min.js" type="text/javascript"></script>
<script src="{T_THEME_PATH}/comboot/select.min.js" type="text/javascript"></script>
<script src="{T_THEME_PATH}/comboot/syntax-highlighting.js" type="text/javascript"></script>
<script src="{T_THEME_PATH}/comboot/comboot.js" type="text/javascript"></script>
