<!-- INCLUDE overall_header.html -->

<!-- IF S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) -->
	<div class="row">
		<!-- IF S_DISPLAY_SEARCH -->
			<div class="col-md-6 col-xs-12">
				<div class="btn-group" style="display: block;">
					<a href="{U_SEARCH_UNANSWERED}" class="btn btn-default btn-sm unanswered-posts">{L_SEARCH_UNANSWERED}</a>
					<!-- IF S_LOAD_UNREADS -->
						<a href="{U_SEARCH_UNREAD}" class="btn btn-default btn-sm unread-posts">{L_SEARCH_UNREAD}</a>
					<!-- ENDIF -->
					<!-- IF S_USER_LOGGED_IN -->
						<a href="{U_SEARCH_NEW}" class="btn btn-default btn-sm new-posts">{L_SEARCH_NEW}</a>
					<!-- ENDIF -->
					<a href="{U_SEARCH_ACTIVE_TOPICS}" class="btn btn-default btn-sm active-topics">{L_SEARCH_ACTIVE_TOPICS}</a>
				</div>
			</div>
		<!-- ENDIF -->
		<!-- IF not S_IS_BOT and U_MARK_FORUMS -->
			<div class="col-md-6 col-xs-12 <!-- IF not S_DISPLAY_SEARCH -->col-md-offset-6<!-- ENDIF -->">
				<div class="pull-right mark-forums-read">
					<a href="{U_MARK_FORUMS}" accesskey="m" class="btn btn-default btn-sm mark-forums-read">{L_MARK_FORUMS_READ}</a>
				</div>
			</div>
		<!-- ENDIF -->
	</div>
<!-- ENDIF -->

<!-- INCLUDE forumlist_body.html -->

<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
	<!-- INCLUDE login_panel.html -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_ONLINE_LIST -->
	<!-- INCLUDE online_panel.html -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_BIRTHDAY_LIST and BIRTHDAY_LIST -->
<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title"><i class="fa fa-gift"></i> {L_BIRTHDAYS}</h3>
	</div>
	<div class="panel-body">
		<p><!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <strong>{BIRTHDAY_LIST}</strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF --></p>
	</div>
</div>
<!-- ENDIF -->

<!-- IF NEWEST_USER -->
<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title"><i class="fa fa-area-chart"></i> {L_STATISTICS}</h3>
	</div>
	<div class="panel-body">
		<p>{TOTAL_POSTS} &bull; {TOTAL_TOPICS} &bull; {TOTAL_USERS} &bull; {NEWEST_USER}</p>
		<hr/>
		<p class="{S_CONTENT_FLOW_END}<!-- IF S_USER_LOGGED_IN --> pull-right<!-- ENDIF -->"><!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<!-- ELSE -->{CURRENT_TIME}<!-- ENDIF --></p>
		<!-- IF S_USER_LOGGED_IN --><p class="pull-left">{CURRENT_TIME}</p><!-- ENDIF -->
	</div>
</div>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->