<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title"><i class="fa fa-sign-in"></i> {L_LOGIN_LOGOUT}</h3>
	</div>	
	<div class="panel-body">
		<form method="post" action="{S_LOGIN_ACTION}" class="form-inline login" name="loginform">
			<div class="row mobile-fix">
				<div class="col-md-5 col-sm-7">
					<div class="input-group" id="login-form-home">
						<input type="text" placeholder="{L_USERNAME}" name="username" id="username" size="10" class="form-control" title="{L_USERNAME}" style="width: 117px;"/>	
						<input type="password" placeholder="{L_PASSWORD}" name="password" id="password" size="10" class="form-control" title="{L_PASSWORD}" style="width: 117px;"/>

						{S_LOGIN_REDIRECT}
						<input type="submit" name="login" id="login" value="{L_LOGIN}" class="btn btn-primary" />
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<a href="{U_REGISTER}" class="btn btn-primary btn-labeled register-btn"><span class="btn-label"><i class="glyphicon glyphicon glyphicon-user"></i></span>{L_REGISTER}</a>
					</div>
				</div>
			</div>
			{S_FORM_TOKEN}
		</form>
	</div>
</div>