<!-- INCLUDE mcp_header.html -->

<script type="text/javascript">
	// <![CDATA[
	var panels = new Array('display-panel', 'split-panel', 'merge-panel');

	<!-- IF S_MERGE_VIEW -->
		var show_panel = 'merge-panel';
	<!-- ELSEIF S_SPLIT_VIEW -->
		var show_panel = 'split-panel';
	<!-- ELSE -->
		var show_panel = 'display-panel';
	<!-- ENDIF -->

	onload_functions.push('subPanels()');

	// ]]>
</script>

<form id="mcp" method="post" action="{S_MCP_ACTION}">
	<div class="panel panel-default">
		<div class="panel-heading btn-panel">
			<h3 class="panel-title"><a href="{U_VIEW_TOPIC}"><span>{L_TOPIC}: {TOPIC_TITLE}</span></a></h3>
			<span class="pull-right btn-group panel-right">
				<a href="#minitabs" id="display-panel-tab" class="btn <!-- IF not S_MERGE_VIEW -->btn-primary disabled<!-- ELSE -->btn-default<!-- ENDIF -->" onclick="subPanels('display-panel'); return false;"><span>{L_DISPLAY_OPTIONS}</span></a>
				<a href="#minitabs" id="split-panel-tab" class="btn btn-default" onclick="subPanels('split-panel'); return false;"><span>{L_SPLIT_TOPIC}</span></a>
				<a href="#minitabs" id="merge-panel-tab" class="btn <!-- IF S_MERGE_VIEW -->btn-primary disabled<!-- ELSE -->btn-default<!-- ENDIF -->" onclick="subPanels('merge-panel'); return false;"><span>{L_MERGE_POSTS}</span></a>
			</span>
		</div>
		<div class="panel-body">
			<fieldset id="display-panel">
				<div class="form-horizontal">
					<div class="form-group row">
						<label class="control-label col-md-2" for="posts_per_page">{L_POSTS_PER_PAGE}:</label>
						<div class="col-md-1">
							<input class="form-control" type="text" name="posts_per_page" id="posts_per_page" size="6" value="{POSTS_PER_PAGE}" />
						</div>
						<span class="help-block">{L_POSTS_PER_PAGE_EXPLAIN}</span>
					</div>
					<div class="form-group">
						<label class="control-label col-md-4">{L_DISPLAY_POSTS}:</label>
						<div class="col-md-8">
							{S_SELECT_SORT_DAYS} <label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label><label>{S_SELECT_SORT_DIR}</label> <input type="submit" name="sort" value="{L_GO}" class="btn btn-success" />
						</div>
					</div>
				</div>
			</fieldset>
			<!-- IF S_CAN_SPLIT -->
				<fieldset id="split-panel">
					<div class="form-horizontal">
						<p>{L_SPLIT_TOPIC_EXPLAIN}</p>
						<!-- IF S_SHOW_TOPIC_ICONS -->
							<div class="form-group">
								<label class="control-label col-md-4" for="icon">{L_TOPIC_ICON}:</label>
								<div class="col-md-8">
									<div class="btn-radio-group btn-group">
										<label class="btn btn-default btn-sm btn-radio" for="icon">
											<input type="radio" class="chradio" name="icon" id="icon" value="0" checked="checked" /> {L_NO_TOPIC_ICON}
										</label>
										<!-- BEGIN topic_icon -->
											<label class="btn btn-default btn-sm btn-radio" for="icon-{topic_icon.ICON_ID}">
												<input type="radio" class="chradio" name="icon" id="icon-{topic_icon.ICON_ID}" value="{topic_icon.ICON_ID}" {topic_icon.S_ICON_CHECKED} />
												<img src="{topic_icon.ICON_IMG}" width="{topic_icon.ICON_WIDTH}" height="{topic_icon.ICON_HEIGHT}" alt="" title="" />
											</label>
										<!-- END topic_icon -->
									</div>
								</div>
							</div>
						<!-- ENDIF -->
						<div class="form-group">
							<label class="control-label col-md-4" for="subject">{L_SPLIT_SUBJECT}:</label>
							<div class="col-md-8">
								<input type="text" name="subject" id="subject" size="45" maxlength="64" tabindex="2" value="{SPLIT_SUBJECT}" title="{L_SPLIT_SUBJECT}" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-4">{L_SPLIT_FORUM}:</label>
							<div class="col-md-8">
								<select name="to_forum_id">{S_FORUM_SELECT}</select>
							</div>
						</div>
					</div>
				</fieldset>
			<!-- ENDIF -->
			<!-- IF S_CAN_MERGE -->
				<fieldset id="merge-panel">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-md-4 label-control" for="to_topic_id">{L_MERGE_TOPIC_ID}:</label>
							<div class="col-md-8">
								<div class="input-group">
									<input class="form-control" type="text" size="6" name="to_topic_id" id="to_topic_id" value="{TO_TOPIC_ID}" />
									<span class="input-group-btn">
										<a href="{U_SELECT_TOPIC}" class="btn btn-primary">{L_SELECT_TOPIC}</a>
									</span>
								</div>
								<!-- IF TO_TOPIC_INFO --><div>{TO_TOPIC_INFO}</div><!-- ENDIF -->
								<span class="help-block">{L_MERGE_TOPIC_EXPLAIN}</span>
							</div>
						</div>
					</div>
				</fieldset>
			<!-- ENDIF -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title clearfix">
						{L_TOPIC_REVIEW}: {TOPIC_TITLE}
					</h3>
					<span class="pull-right panel-right" id="review_panel"><a href="#review" onclick="viewableArea(getElementById('topicreview'), true); var rev_text = getElementById('review_panel').getElementsByTagName('a').item(0).firstChild; if (rev_text.data == '{LA_EXPAND_VIEW}'){rev_text.data = '{LA_COLLAPSE_VIEW}'; } else if (rev_text.data == '{LA_COLLAPSE_VIEW}'){rev_text.data = '{LA_EXPAND_VIEW}'};">{L_EXPAND_VIEW}</a></span>
				</div>
				<div id="topicreview" class="panel-body no-margin-bottom">
					<!-- BEGIN postrow -->
						<div class="post <!-- IF postrow.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
							<div class="postbody" id="pr{postrow.POST_ID}">
								<div class="panel panel-default">
									<div class="panel-heading btn-panel">
										<h3 class="panel-title"><a href="{postrow.U_POST_DETAILS}"><span>{postrow.POST_SUBJECT}</span></a></h3>
										<span class="pull-right panel-right">
											<a class="btn btn-default" href="{postrow.U_POST_DETAILS}" title="{L_POST_DETAILS}"><span>{L_POST_DETAILS}</span></a>
											{L_SELECT}: <input type="checkbox" name="post_id_list[]" value="{postrow.POST_ID}"<!-- IF postrow.S_CHECKED --> checked="checked"<!-- ENDIF --> />
										</span>
									</div>
									<div class="panel-body post-content">
										<div class="post-head">
											<p><a href="#pr{postrow.POST_ID}">{postrow.MINI_POST_IMG}</a> {L_POSTED} {postrow.POST_DATE} {L_POST_BY_AUTHOR} <strong>{postrow.POST_AUTHOR_FULL}</strong><!-- IF postrow.U_MCP_DETAILS --> [ <a href="{postrow.U_MCP_DETAILS}">{L_POST_DETAILS}</a> ]<!-- ENDIF --></p>
											<!-- IF postrow.S_POST_UNAPPROVED or postrow.S_POST_REPORTED -->
												<p class="rules">
													<!-- IF postrow.S_POST_UNAPPROVED -->{UNAPPROVED_IMG} <a href="{postrow.U_MCP_APPROVE}"><strong>{L_POST_UNAPPROVED}</strong></a><br /><!-- ENDIF -->
													<!-- IF postrow.S_POST_REPORTED -->{REPORTED_IMG} <a href="{postrow.U_MCP_REPORT}"><strong>{L_POST_REPORTED}</strong></a><!-- ENDIF -->
												</p>
											<!-- ENDIF -->
										</div>
										<div class="content" id="message_{postrow.POST_ID}">{postrow.MESSAGE}</div>
										<!-- IF postrow.S_HAS_ATTACHMENTS -->
											<dl class="attachbox">
												<dt>{L_ATTACHMENTS}</dt>
												<!-- BEGIN attachment -->
													<dd>{postrow.attachment.DISPLAY_ATTACHMENT}</dd>
												<!-- END attachment -->
											</dl>
										<!-- ENDIF -->
									</div>
								</div>
							</div>
						</div>
					<!-- END postrow -->
				</div>
			</div>
			<!-- IF PAGINATION or TOTAL_POSTS -->
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="btn-group">
							<!-- IF TOTAL_POSTS --><span class="btn btn-default btn-sm disabled">{TOTAL_POSTS}</span><!-- ENDIF -->
							<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --><a href="#" class="btn btn-sm btn-default" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a><!-- ELSE --><span class="btn btn-default btn-sm disabled">{PAGE_NUMBER}</span><!-- ENDIF --><!-- ENDIF -->
						</div>
					</div>
				</div>
				<!-- IF PAGINATION -->
					<div class="row">
						<div class="col-md-12 text-center">
							<div class="btn-group topic-pagination">
								<a href="{PREVIOUS_PAGE}" class="btn btn-default btn-sm<!-- IF not PREVIOUS_PAGE --> disabled<!-- ENDIF -->"><i class="fa fa-chevron-left"></i> {L_PREVIOUS}</a>
								<!-- IF PAGINATION -->{PAGINATION}<!-- ENDIF -->
								<a href="{NEXT_PAGE}" class="btn btn-default btn-sm<!-- IF not NEXT_PAGE --> disabled<!-- ENDIF -->">{L_NEXT} <i class="fa fa-chevron-right"></i></a>
							</div>
						</div>
					</div>
				<!-- ENDIF -->
			<!-- ENDIF -->
			<hr>
			<fieldset class="display-actions pull-right">
				<div class="btn-group">
					<a href="#" class="btn btn-sm btn-success" onclick="marklist('mcp', 'post', true); return false;">{L_MARK_ALL}</a>
					<a href="#" class="btn btn-sm btn-danger" onclick="marklist('mcp', 'post', false); return false;">{L_UNMARK_ALL}</a>
				</div>
				<select name="action">
					<option value="" selected="selected">{L_SELECT_ACTION}</option>
					<!-- IF S_CAN_APPROVE --><option value="approve">{L_APPROVE_POSTS}</option><!-- ENDIF -->
					<!-- IF S_CAN_LOCK --><option value="lock_post">{L_LOCK_POST_POSTS} [ {L_LOCK_POST_EXPLAIN} ]</option><option value="unlock_post">{L_UNLOCK_POST_POSTS}</option><!-- ENDIF -->
					<!-- IF S_CAN_DELETE --><option value="delete_post">{L_DELETE_POSTS}</option><!-- ENDIF -->
					<!-- IF S_CAN_MERGE --><option value="merge_posts"<!-- IF S_MERGE_VIEW --> selected="selected"<!-- ENDIF -->>{L_MERGE_POSTS}</option><!-- ENDIF -->
					<!-- IF S_CAN_SPLIT --><option value="split_all"<!-- IF S_SPLIT_VIEW --> selected="selected"<!-- ENDIF -->>{L_SPLIT_POSTS}</option><option value="split_beyond">{L_SPLIT_AFTER}</option><!-- ENDIF -->
					<!-- IF S_CAN_SYNC --><option value="resync">{L_RESYNC}</option><!-- ENDIF -->
				</select>
				<input class="btn btn-success" type="submit" name="mcp_topic_submit" value="{L_SUBMIT}" />
				{S_HIDDEN_FIELDS}
				{S_FORM_TOKEN}
			</fieldset>
		</div>
	</div>
</form>

<!-- INCLUDE mcp_footer.html -->