<!-- IF S_IN_SEARCH_POPUP -->
	<!-- INCLUDE simple_header.html -->
	<!-- INCLUDE memberlist_search.html -->
	<form method="post" id="results" action="{S_MODE_ACTION}" onsubmit="insert_marked(this.user); return false">
<!-- ELSEIF S_SEARCH_USER -->
	<!-- INCLUDE overall_header.html -->	
	<!-- INCLUDE memberlist_search.html -->
	<form method="post" action="{S_MODE_ACTION}">
<!-- ELSE -->
	<!-- INCLUDE overall_header.html -->
	<form method="post" action="{S_MODE_ACTION}">
<!-- ENDIF -->

<!-- IF S_SHOW_GROUP -->
	<h2<!-- IF GROUP_COLOR --> style="color:#{GROUP_COLOR};"<!-- ENDIF -->>{GROUP_NAME}</h2>
	<p>{GROUP_DESC} {GROUP_TYPE}</p>
	<p>
		<!-- IF AVATAR_IMG -->{AVATAR_IMG}<!-- ENDIF -->
		<!-- IF RANK_IMG -->{RANK_IMG}<!-- ENDIF -->
		<!-- IF GROUP_RANK -->{GROUP_RANK}<!-- ENDIF -->
	</p>
<!-- ELSE -->
	<div class="page-header">
		<h2 class="solo">{PAGE_TITLE}<!-- IF SEARCH_WORDS -->: <a href="{U_SEARCH_WORDS}">{SEARCH_WORDS}</a><!-- ENDIF --></h2>
	</div>
	<div class="text-center">
		<ul class="pagination pagination-sm pagination-memberlist">
			<!-- IF U_FIND_MEMBER and not S_SEARCH_USER --><li><a href="{U_FIND_MEMBER}">{L_FIND_USERNAME}</a></li> <!-- ELSEIF S_SEARCH_USER and U_HIDE_FIND_MEMBER and not S_IN_SEARCH_POPUP --><li><a href="{U_HIDE_FIND_MEMBER}">{L_HIDE_MEMBER_SEARCH}</a></li><!-- ENDIF -->
			<!-- BEGIN first_char -->
				<li><a href="{first_char.U_SORT}" class="pagination-letter">{first_char.DESC}</a></li>
			<!-- END first_char -->
		</ul>
	</div>
<!-- ENDIF -->

<!-- IF S_LEADERS_SET or not S_SHOW_GROUP or not .memberrow -->
	<div class="forumbg forumbg-table">
		<div class="table-responsive">
			<table class="table table-striped table-bordered" id="memberlist">
				<thead>
					<tr>
						<th><a href="{U_SORT_USERNAME}"><!-- IF S_SHOW_GROUP and .memberrow -->{L_GROUP_LEADER}<!-- ELSE -->{L_USERNAME}<!-- ENDIF --></a></th>
						<th class="hidden-sxs"><span class="rank-img"><a href="{U_SORT_RANK}">{L_RANK}</a></span></th>
						<th class="posts"><a href="{U_SORT_POSTS}#memberlist">{L_POSTS}</a></th>
						<th class="hidden-xs"><a href="{U_SORT_WEBSITE}#memberlist">{L_WEBSITE}</a>{L_COMMA_SEPARATOR}<a href="{U_SORT_LOCATION}">{L_LOCATION}</a></th>
						<th class="hidden-xs"><a href="{U_SORT_JOINED}#memberlist">{L_JOINED}</a></th>
						<!-- IF U_SORT_ACTIVE --><th class="active"><a href="{U_SORT_ACTIVE}#memberlist">{L_LAST_ACTIVE}</a></th><!-- ENDIF -->
					</tr>
				</thead>
				<tbody>
<!-- ENDIF -->
<!-- BEGIN memberrow -->
	<!-- IF S_SHOW_GROUP -->
		<!-- IF not memberrow.S_GROUP_LEADER and not $S_MEMBER_HEADER -->
			<!-- IF S_LEADERS_SET and memberrow.S_FIRST_ROW -->
				<tr class="alert-success">
					<td colspan="<!-- IF U_SORT_ACTIVE -->5<!-- ELSE -->4<!-- ENDIF -->">&nbsp;</td>
				</tr>
			<!-- ENDIF -->
			<!-- IF S_LEADERS_SET -->
				</tbody>
			</table>
		</div>	
	</div>
			<!-- ENDIF -->

<div class="forumbg forumbg-table">
	<div class="table-responsive">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<!-- IF not S_LEADERS_SET -->
						<th><a href="{U_SORT_USERNAME}"><!-- IF S_SHOW_GROUP -->{L_GROUP_MEMBERS}<!-- ELSE -->{L_USERNAME}<!-- ENDIF --></a></th>
						<th class="hidden-sxs"><span class="rank-img"><a href="{U_SORT_RANK}">{L_RANK}</a></span></th>
						<th><a href="{U_SORT_POSTS}#memberlist">{L_POSTS}</a></th>
						<th class="hidden-xs"><a href="{U_SORT_WEBSITE}#memberlist">{L_WEBSITE}</a>{L_COMMA_SEPARATOR}<a href="{U_SORT_LOCATION}">{L_LOCATION}</a></th>
						<th class="hidden-xs"><a href="{U_SORT_JOINED}#memberlist">{L_JOINED}</a></th>
						<!-- IF U_SORT_ACTIVE --><th class="active"><a href="{U_SORT_ACTIVE}#memberlist">{L_LAST_ACTIVE}</a></th><!-- ENDIF -->
					<!-- ELSEIF S_SHOW_GROUP -->
						<th>{L_GROUP_MEMBERS}</th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
						<!-- IF U_SORT_ACTIVE --><th class="active">&nbsp;</th><!-- ENDIF -->
					<!-- ENDIF -->
				</tr>
			</thead>
			<tbody>
			<!-- DEFINE $S_MEMBER_HEADER = 1 -->
		<!-- ENDIF -->
	<!-- ENDIF -->
			<tr>
				<td><!-- IF S_IN_SEARCH_POPUP and not S_SELECT_SINGLE --><div class="checkbox"><input type="checkbox" name="user" value="{memberrow.USERNAME}" /> <!-- ENDIF -->{memberrow.USERNAME_FULL}<!-- IF S_IN_SEARCH_POPUP and not S_SELECT_SINGLE --></div><!-- ENDIF --><!-- IF S_SELECT_SINGLE --><br />[&nbsp;<a href="#" onclick="insert_single('{memberrow.A_USERNAME}'); return false;">{L_SELECT}</a>&nbsp;]<!-- ENDIF --></td>
				<td class="hidden-sxs"><!-- IF memberrow.RANK_IMG --><span class="rank-img">{memberrow.RANK_IMG}</span><!-- ELSE --><span class="rank-img">{memberrow.RANK_TITLE}</span><!-- ENDIF --></td>
				<td><!-- IF memberrow.POSTS and S_DISPLAY_SEARCH --><a href="{memberrow.U_SEARCH_USER}" title="{L_SEARCH_USER_POSTS}">{memberrow.POSTS}</a><!-- ELSE -->{memberrow.POSTS}<!-- ENDIF --></td>
				<td class="hidden-xs"><!-- IF memberrow.U_WWW or memberrow.LOCATION --><!-- IF memberrow.U_WWW --><div><a href="{memberrow.U_WWW}" title="{L_VISIT_WEBSITE}: {memberrow.U_WWW}">{memberrow.U_SHORT_WWW}</a></div><!-- ENDIF --><!-- IF memberrow.LOCATION --><div>{memberrow.LOCATION}</div><!-- ENDIF --><!-- ELSE -->&nbsp;<!-- ENDIF --></td>
				<td class="hidden-xs">{memberrow.JOINED}</td>
				<!-- IF S_VIEWONLINE --><td>{memberrow.VISITED}&nbsp;</td><!-- ENDIF -->
			</tr>
				<!-- BEGINELSE -->
			<tr class="bg1">
				<td colspan="<!-- IF S_VIEWONLINE -->5<!-- ELSE -->4<!-- ENDIF -->">{L_NO_MEMBERS}</td>
			</tr>
				<!-- END memberrow -->
			</tbody>
		</table>
	</div>
</div>

<!-- IF S_IN_SEARCH_POPUP and not S_SELECT_SINGLE -->
	<fieldset class="text-center row">
		<div class="btn-group">
			<a href="#" class="btn btn-sm btn-success" onclick="marklist('results', 'user', true); return false;">{L_MARK_ALL}</a>
			<a href="#" class="btn btn-sm btn-warning" onclick="marklist('results', 'user', false); return false;">{L_UNMARK_ALL}</a>
		</div>
		<input type="submit" name="submit" value="{L_SELECT_MARKED}" class="btn btn-sm btn-default" />
	</fieldset>
<!-- ENDIF -->

<!-- IF S_IN_SEARCH_POPUP -->
	</form>
	<form method="post" id="sort-results" action="{S_MODE_ACTION}">
<!-- ENDIF -->

<!-- IF S_IN_SEARCH_POPUP and not S_SEARCH_USER -->
	<fieldset>
		<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
		<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
		<label for="sk">{L_SELECT_SORT_METHOD}: <select name="sk" id="sk">{S_MODE_SELECT}</select></label> 
		<label for="sd">{L_ORDER} <select name="sd" id="sd">{S_ORDER_SELECT}</select> <input type="submit" name="sort" value="{L_SUBMIT}" class="btn btn-default" /></label>
	</fieldset>
<!-- ENDIF -->

</form>

<div class="row">
	<div class="col-md-12 text-center">
		<div class="btn-group">
			<span class="btn btn-default btn-sm disabled">{TOTAL_USERS}</span>
			<!-- IF PAGINATION -->
				<a href="#" class="btn btn-default btn-sm" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a>
			<!-- ELSE -->
				<span class="btn btn-default btn-sm disabled">{PAGE_NUMBER}</span>
			<!-- ENDIF -->
		</div>
	</div>
</div>

<!-- IF PAGINATION -->
	<div class="row">
		<div class="col-md-12 text-center">
			<div class="btn-group topic-pagination">
				{PAGINATION}
			</div>
		</div>
	</div>
<!-- ENDIF -->

<!-- IF S_IN_SEARCH_POPUP -->
	<!-- INCLUDE simple_footer.html -->
<!-- ELSE -->
	<!-- INCLUDE jumpbox.html -->
	<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->