<!-- INCLUDE overall_header.html -->

<form method="post" action="{S_PROFILE_ACTION}" id="viewprofile">
	<div class="user-details">
		<div class="user-image rounded">
			<!-- IF AVATAR_IMG -->
				{AVATAR_IMG}
			<!-- ELSE -->
				<img src="{T_THEME_PATH}/images/default_avatar.jpg">
			<!-- ENDIF -->
		</div>
		<div class="user-info-block panel panel-default badger-left-radius <!-- IF S_ONLINE -->badger-success" data-badger="ONLINE<!-- ELSE -->badger-danger" data-badger="OFFLINE<!-- ENDIF -->">
			<div class="user-heading">
				<!-- IF USER_COLOR --><h3 style="color: {USER_COLOR}; font-weight: bold;"><!-- ELSE --><h3><!-- ENDIF -->{USERNAME}</h3>
				<!-- IF RANK_TITLE --><span class="help-block">{RANK_TITLE}</span><!-- ENDIF -->
				<!-- IF RANK_IMG --><span class="help-block">{RANK_IMG}</span><!-- ENDIF -->
			</div>
			<ul class="navigation">
				<li class="active">
					<a><span class="glyphicon glyphicon-user"></span></a>
				</li>
			</ul>
			<div class="user-body panel-body">
				<div class=" row">
					<div class=" col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading btn-panel">
								<h3 class="panel-title">
									{L_USERNAME}: <!-- IF USER_COLOR --><span style="color: {USER_COLOR}; font-weight: bold;"><!-- ELSE --><span><!-- ENDIF -->{USERNAME}</span>
								</h3>
								<span class="pull-right btn-group panel-right">
									<!-- IF U_USER_ADMIN --><a href="{U_USER_ADMIN}" class="btn btn-default">{L_USER_ADMIN}</a><!-- ENDIF -->
									<!-- IF U_USER_BAN --><a href="{U_USER_BAN}" class="btn btn-default">{L_USER_BAN}</a><!-- ENDIF -->
									<!-- IF U_SWITCH_PERMISSIONS --><a href="{U_SWITCH_PERMISSIONS}" class="btn btn-default">{L_USE_PERMISSIONS}</a><!-- ENDIF -->
								</span>
							</div>
							<div class="panel-body">
								<div class="form-horizontal">
									<!-- IF not AVATAR_IMG -->
										<div class="form-group">
											<!-- IF RANK_TITLE -->
												<label class="control-label col-md-3">{L_RANK}:</label>
												<div class="col-md-9">
													<p class="form-control-static">{RANK_TITLE}</p>
												</div>
											<!-- ENDIF -->
											<!-- IF RANK_IMG -->
												<label class="control-label col-md-3"><!-- IF RANK_TITLE -->&nbsp;<!-- ELSE -->{L_RANK}:<!-- ENDIF --></label>
												<div class="col-md-9">
													<p class="form-control-static">{RANK_IMG}</p>
												</div>
											<!-- ENDIF -->
										</div>
									<!-- ENDIF -->
									<!-- IF S_USER_INACTIVE -->
										<div class="form-group">	
											<label class="control-label col-md-3">{L_USER_IS_INACTIVE}:</label>
											<div class="col-md-9">
												<p class="form-control-static">{USER_INACTIVE_REASON}</p>
											</div>
										</div>
									<!-- ENDIF -->
									<!-- IF LOCATION -->
										<div class="form-group">
											<label class="control-label col-md-3">{L_LOCATION}:</label>
											<div class="col-md-9">
												<p class="form-control-static">{LOCATION}</p>
											</div>
										</div>
									<!-- ENDIF -->
									<!-- IF AGE !== '' -->
										<div class="form-group">
											<label class="control-label col-md-3">{L_AGE}:</label>
											<div class="col-md-9">
												<p class="form-control-static">{AGE}</p>
											</div>
										</div>
									<!-- ENDIF -->
									<!-- IF OCCUPATION -->
										<div class="form-group">
											<label class="control-label col-md-3">{L_OCCUPATION}:</label>
											<div class="col-md-9">
												<p class="form-control-static">{OCCUPATION}</p>
											</div>
										</div>
									<!-- ENDIF -->
									<!-- IF INTERESTS -->
										<div class="form-group">
											<label class="control-label col-md-3">{L_INTERESTS}:</label>
											<div class="col-md-9">
												<p class="form-control-static">{INTERESTS}</p>
											</div>
										</div>
									<!-- ENDIF -->
									<!-- IF S_GROUP_OPTIONS -->
										<div class="form-group">
											<label class="control-label col-md-3">{L_USERGROUPS}:</label>
											<div class="col-md-9">
												<select name="g">{S_GROUP_OPTIONS}</select>
												<input type="submit" name="submit" value="{L_GO}" class="btn btn-default" />
											</div>
										</div>
									<!-- ENDIF -->
									<!-- BEGIN custom_fields -->
										<div class="form-group">
											<label class="control-label col-md-3">{custom_fields.PROFILE_FIELD_NAME}:</label>
											<div class="col-md-9">
												<p class="form-control-static">{custom_fields.PROFILE_FIELD_VALUE}</p>
											</div>
										</div>
									<!-- END custom_fields -->
									<!-- IF S_USER_LOGGED_IN and S_ZEBRA -->
										<div class="form-group">
											<div class="col-md-9 col-md-offset-3">
												<!-- IF U_REMOVE_FRIEND -->
													<a href="{U_REMOVE_FRIEND}" class="btn btn-danger">{L_REMOVE_FRIEND}</a>
												<!-- ELSEIF U_REMOVE_FOE -->
													<a href="{U_REMOVE_FOE}" class="btn btn-success margin-class">{L_REMOVE_FOE}</a>
												<!-- ELSE -->
													<!-- IF U_ADD_FRIEND -->
														<a href="{U_ADD_FRIEND}" class="btn btn-success margin-class">{L_ADD_FRIEND}</a>
													<!-- ENDIF -->
													<!-- IF U_ADD_FOE -->
														<a href="{U_ADD_FOE}" class="btn btn-danger white-spaces">{L_ADD_FOE}</a>
													<!-- ENDIF -->
												<!-- ENDIF -->
											</div>
										</div>
									<!-- ENDIF -->
									<div class="form-group">
										<div class="col-md-9 col-md-offset-3">
											<div class="btn-group">
												<a class="btn btn-primary btn-labeled dropdown-toggle white-spaces" data-toggle="dropdown" href="#">
													<span class="btn-label"><i class="fa fa-envelope"></i></span>
													{L_CONTACT_USER} {USERNAME}
													<span class="caret"></span>
												</a>
												<ul class="dropdown-menu">
													<!-- IF U_EMAIL --><li><a href="{U_EMAIL}">{L_SEND_EMAIL_USER} {USERNAME}</a></li><!-- ENDIF -->
													<!-- IF U_WWW --><li><a href="{U_WWW}" title="{L_VISIT_WEBSITE}: {U_WWW}">{U_WWW}</a></li><!-- ENDIF -->
													<!-- IF U_PM --><li><a href="{U_PM}">{L_SEND_PRIVATE_MESSAGE}</a></li><!-- ENDIF -->
													<!-- IF U_MSN or USER_MSN --><li><!-- IF U_MSN --><a href="{U_MSN}" onclick="popup(this.href, 550, 320); return false;">{L_SEND_MSNM_MESSAGE}</a><!-- ELSE -->{USER_MSN}<!-- ENDIF --></li><!-- ENDIF -->
													<!-- IF U_YIM or USER_YIM --><li><!-- IF U_YIM --><a href="{U_YIM}" onclick="popup(this.href, 780, 550); return false;">{L_SEND_YIM_MESSAGE}</a><!-- ELSE -->{USER_YIM}<!-- ENDIF --></li><!-- ENDIF -->
													<!-- IF U_AIM or USER_AIM --><li><!-- IF U_AIM --><a href="{U_AIM}" onclick="popup(this.href, 550, 320); return false;">{L_SEND_AIM_MESSAGE}</a><!-- ELSE -->{USER_AIM}<!-- ENDIF --></li><!-- ENDIF -->
													<!-- IF U_ICQ or USER_ICQ --><li><!-- IF U_ICQ --><a href="{U_ICQ}" onclick="popup(this.href, 550, 320); return false;">{L_SEND_ICQ_MESSAGE}</a><!-- ELSE -->{USER_ICQ}<!-- ENDIF --></li><!-- ENDIF -->
													<!-- IF U_JABBER and S_JABBER_ENABLED or USER_JABBER --><li><a href="{U_JABBER}" onclick="popup(this.href, 550, 320); return false;">{L_SEND_JABBER_MESSAGE}</a></li><!-- ENDIF -->
													<!-- IF S_PROFILE_FIELD1 -->
														<li class="divider"></li>
														<!-- NOTE: Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
														<li>{PROFILE_FIELD1_VALUE}</li>
													<!-- ENDIF -->
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">{L_USER_FORUM}</h3>
							</div>
							<div class="panel-body">
								<div class="form-horizontal">
									<div class="form-group">
										<label class="control-label col-md-3">{L_JOINED}:</label>
										<div class="col-md-9">
											<p class="form-control-static">{JOINED}</p>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3">{L_VISITED}:</label>
										<div class="col-md-9">
											<p class="form-control-static">{VISITED}</p>
										</div>
									</div>
									<!-- IF S_WARNINGS -->
										<div class="form-group">
											<label class="control-label col-md-3">{L_WARNINGS}: </label>
											<div class="col-md-9">
												<span class="btn btn-default btn-sm disabled">{WARNINGS}</span>
												<!-- IF U_NOTES or U_WARN -->
													<div class="btn-group">
														<!-- IF U_NOTES -->
															<a href="{U_NOTES}" class="btn btn-primary btn-sm">{L_VIEW_NOTES}</a>
														<!-- ENDIF -->
														<!-- IF U_WARN -->
															<a href="{U_WARN}" class="btn btn-danger btn-sm">{L_WARN_USER}</a>
														<!-- ENDIF -->
													</div>
												<!-- ENDIF -->
											</div>
										</div>
									<!-- ENDIF -->
									<div class="form-group">
										<label class="control-label col-md-3">{L_TOTAL_POSTS}:</label>
										<div class="col-md-9">
											<span class="btn btn-default btn-sm disabled">{POSTS}</span>
											<!-- IF S_DISPLAY_SEARCH -->
												<a href="{U_SEARCH_USER}" class="btn btn-primary btn-sm">{L_SEARCH_USER_POSTS}</a>
											<!-- ENDIF -->
											<!-- IF POSTS_PCT --><span class="help-block">({POSTS_PCT} / {POSTS_DAY})</span><!-- ENDIF -->
											<!-- IF POSTS_IN_QUEUE and U_MCP_QUEUE --><span class="help-block">(<a href="{U_MCP_QUEUE}">{L_POSTS_IN_QUEUE}</a>)</span><!-- ELSEIF POSTS_IN_QUEUE --><span class="help-block">({L_POSTS_IN_QUEUE})</span><!-- ENDIF -->
											</p>
										</div>
									</div>
									<!-- IF S_SHOW_ACTIVITY and POSTS -->
										<div class="form-group">
											<label class="control-label col-md-3">{L_ACTIVE_IN_FORUM}:</label>
											<div class="col-md-9">
												<!-- IF ACTIVE_FORUM != '' -->
													<p class="form-control-static"><a href="{U_ACTIVE_FORUM}">{ACTIVE_FORUM}</a></p>
													<span class="help-block">({ACTIVE_FORUM_POSTS} / {ACTIVE_FORUM_PCT})</span>
												<!-- ELSE --> - <!-- ENDIF -->
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3">{L_ACTIVE_IN_TOPIC}:</label>
											<div class="col-md-9">
												<!-- IF ACTIVE_TOPIC != '' -->
													<p class="form-control-static"><a href="{U_ACTIVE_TOPIC}">{ACTIVE_TOPIC}</a></p>
													<span class="help-block">({ACTIVE_TOPIC_POSTS} / {ACTIVE_TOPIC_PCT})</span>
												<!-- ELSE --> - <!-- ENDIF -->
											</div>
										</div>
									<!-- ENDIF -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- IF SIGNATURE -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">{L_SIGNATURE}</h3>
						</div>
						<div class="panel-body">
							{SIGNATURE}
						</div>
					</div>
				<!-- ENDIF -->
			</div>
		</div>
	</div>
</form>

<!-- INCLUDE jumpbox.html -->

<!-- INCLUDE overall_footer.html --> 