<div class="panel panel-default">
	<div class="panel-heading clearfix">
		<h3 class="panel-title">{L_TOPIC_REVIEW}: {TOPIC_TITLE}</h3>
		<span class="pull-right panel-right" id="review_panel"><a href="#review" onclick="viewableArea(getElementById('topicreview'), true); var rev_text = getElementById('review_panel').getElementsByTagName('a').item(0).firstChild; if (rev_text.data == '{LA_EXPAND_VIEW}'){rev_text.data = '{LA_COLLAPSE_VIEW}'; } else if (rev_text.data == '{LA_COLLAPSE_VIEW}'){rev_text.data = '{LA_EXPAND_VIEW}'};">{L_EXPAND_VIEW}</a></span>
	</div>
	<div id="topicreview" class="panel-body no-margin-bottom">
		<script type="text/javascript">
		// <![CDATA[
			bbcodeEnabled = {S_BBCODE_ALLOWED};
		// ]]>
		</script>
		<!-- BEGIN topic_review_row -->
			<!-- IF topic_review_row.S_IGNORE_POST -->
				<div class="post-ignore">
					{topic_review_row.L_IGNORE_POST}
			<!-- ENDIF -->
				<div id="pr{topic_review_row.POST_ID}" class="preview-item">
					<div class="panel panel-default no-margin-bottom">
						<div class="panel-heading btn-panel">
							<h3 class="panel-title">
								<a href="#pr{topic_review_row.POST_ID}">{topic_review_row.POST_SUBJECT}</a>
							</h3>
							<span class="pull-right btn-group panel-right">
								<!-- IF topic_review_row.U_MCP_DETAILS -->
									<a href="{topic_review_row.U_MCP_DETAILS}" class="btn btn-primary btn-sm"><i class="fa fa-info"></i></a>
								<!-- ENDIF -->
								<!-- IF topic_review_row.POSTER_QUOTE and topic_review_row.DECODED_MESSAGE -->
									<a href="#postingbox" class="btn btn-success btn-sm" onclick="addquote({topic_review_row.POST_ID}, '{topic_review_row.POSTER_QUOTE}', '{LA_WROTE}');" title="{L_QUOTE} {topic_review_row.POST_AUTHOR}"><span><i class="fa fa-quote-left"></i></span></a>
								<!-- ENDIF -->
							</span>
						</div>
						<div class="panel-body post-content">
							<div class="post-head">
								<p><!-- IF S_IS_BOT -->{topic_review_row.MINI_POST_IMG}<!-- ELSE --><a href="{topic_review_row.U_MINI_POST}">{topic_review_row.MINI_POST_IMG}</a><!-- ENDIF --> {L_POST_BY_AUTHOR} <strong>{topic_review_row.POST_AUTHOR_FULL}</strong> &raquo; {topic_review_row.POST_DATE}</p>
							</div>
							<div class="content">{topic_review_row.MESSAGE}</div>
							<!-- IF topic_review_row.S_HAS_ATTACHMENTS -->
								<dl class="attachbox">
									<dt>{L_ATTACHMENTS}</dt>
									<!-- BEGIN attachment -->
										<dd>{topic_review_row.attachment.DISPLAY_ATTACHMENT}</dd>
									<!-- END attachment -->
								</dl>
							<!-- ENDIF -->
							<!-- IF topic_review_row.POSTER_QUOTE and topic_review_row.DECODED_MESSAGE -->
								<div id="message_{topic_review_row.POST_ID}" style="display: none;">{topic_review_row.DECODED_MESSAGE}</div>
							<!-- ENDIF -->
						</div>
					</div>
				</div>
			<!-- IF topic_review_row.S_IGNORE_POST -->
				</div>
			<!-- ENDIF -->
		<!-- END topic_review_row -->
	</div>
	<div class="panel-footer review-footer">
		<!-- IF S_MCP_REPORT -->
			<div class="to-top pull-right"><a href="#report" class="top"><i class="fa fa-chevron-up"></i></a></div>
		<!-- ELSE -->
			<div class="to-top pull-right"><a href="#postingbox" class="top"><i class="fa fa-chevron-up"></i></a></div>
		<!-- ENDIF -->
	</div>
</div>