<!-- INCLUDE overall_header.html -->
<div class="page-header">
	<h2><!-- IF SEARCH_TITLE -->{SEARCH_TITLE}<!-- ELSE -->{SEARCH_MATCHES}<!-- ENDIF --><!-- IF SEARCH_WORDS -->: <a href="{U_SEARCH_WORDS}">{SEARCH_WORDS}</a><!-- ENDIF -->
	</h2>
</div>
<!-- IF IGNORED_WORDS --> <p>{L_IGNORED_TERMS}: <strong>{IGNORED_WORDS}</strong></p><!-- ENDIF -->

<!-- IF S_SHOW_TOPICS -->
	<!-- IF .searchresults -->
		<table class="table table-bordered table-striped">
			<thead class="topiclist">
				<tr class="icon">
					<th>{L_TOPICS}</th>
					<th class="posts hidden-xs">{L_REPLIES}</th>
					<th class="views hidden-xs">{L_VIEWS}</th>
					<th class="lastpost hidden-sxs"><span>{L_LAST_POST}</span></th>
				</tr>
			</thead>
			<tbody class="topiclist topics">
				<!-- BEGIN searchresults -->
					<tr>
						<td>
							<div class="pull-left forum-topic-icon">
								<span>
									<a href="{searchresults.U_VIEW_TOPIC}" class="btn <!-- IF searchresults.S_UNREAD_TOPIC -->unread-forum btn-info<!-- ELSE -->btn-default<!-- ENDIF --> btn-lg tooltip-link" title="{searchresults.TOPIC_FOLDER_IMG_ALT}">
									<i class="fa fa-file-text-o"></i>
								</a></span>
							</div>
							<div class="pull-right">
								<div class="btn-group pagination-line">
									<!-- IF searchresults.S_TOPIC_UNAPPROVED or searchresults.S_POSTS_UNAPPROVED -->
										<a href="{searchresults.U_MCP_QUEUE}" class="btn btn-warning btn-xs"><i class="fa fa-exclamation-triangle"></i></a>
									<!-- ENDIF -->
									<!-- IF searchresults.S_TOPIC_REPORTED -->
										<a href="{searchresults.U_MCP_REPORT}" class="btn btn-warning btn-xs"><i class="fa fa-exclamation-triangle"></i></a>
									<!-- ENDIF -->
									<!-- IF searchresults.ATTACH_ICON_IMG -->
										<a href="#" class="btn btn-default btn-xs disabled"><i class="fa fa-paperclip"></i></a>
									<!-- ENDIF -->
									<!-- IF searchresults.PAGINATION -->
										{searchresults.PAGINATION}
									<!-- ENDIF -->
									<!-- IF searchresults.S_UNREAD_TOPIC -->
										<a class="btn btn-xs btn-info" href="{searchresults.U_NEWEST_POST}"><i class="fa fa-angle-right"></i></a>
									<!-- ENDIF -->
									<!-- IF not S_IS_BOT -->
										<a class="btn btn-default btn-xs tooltip-link" href="{searchresults.U_LAST_POST}"  title="{L_LAST_POST}"><i class="fa fa-angle-double-right"></i></a>
									<!-- ENDIF -->
								</div>
							</div>
							<a href="{searchresults.U_VIEW_TOPIC}" class="topictitle <!-- IF searchresults.S_UNREAD_TOPIC -->unread-forum<!-- ENDIF -->">
								<strong>{searchresults.TOPIC_TITLE}</strong>
							</a>
							<br/>
							<small>{L_POST_BY_AUTHOR} {searchresults.TOPIC_AUTHOR_FULL} &raquo; {searchresults.FIRST_POST_TIME} &raquo; {L_IN} <a href="{searchresults.U_VIEW_FORUM}">{searchresults.FORUM_TITLE}</a></small>
						</td>
						<td class="posts hidden-xs">{searchresults.TOPIC_REPLIES}</td>
						<td class="views hidden-xs">{searchresults.TOPIC_VIEWS}</td>
						<td class="lastpost hidden-sxs"><span>
							{L_POST_BY_AUTHOR} {searchresults.LAST_POST_AUTHOR_FULL}
							<!-- IF not S_IS_BOT --><a href="{searchresults.U_LAST_POST}">{LAST_POST_IMG}</a> <!-- ENDIF --><br />{searchresults.LAST_POST_TIME}<br /> </span>
						</td>
					</tr>
				<!-- END searchresults -->
			</tbody>
		</table>
	<!-- ELSE -->
		<div class="row">
			<div class="well">
			<strong>{L_NO_SEARCH_RESULTS}</strong>
			</div>
		</div>
	<!-- ENDIF -->

<!-- ELSE -->

	<!-- BEGIN searchresults -->
		<div class="search post">
			<!-- IF searchresults.S_IGNORE_POST -->
				<div class="postbody">
					{searchresults.L_IGNORE_POST}
				</div>
			<!-- ELSE -->
				<div class="panel <!-- IF searchresults.S_POST_REPORTED --> panel-danger<!-- ELSE --> panel-primary<!-- ENDIF -->">
					<div class="panel-heading">
		    			<h3 class="panel-title"><a href="{searchresults.U_VIEW_POST}">{searchresults.POST_SUBJECT}</a></h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-3">
								<dl>
									<dt class="author">{L_POST_BY_AUTHOR} {searchresults.POST_AUTHOR_FULL}</dt>
									<dd>{searchresults.POST_DATE}</dd>
									<dd>&nbsp;</dd>
									<dd>{L_FORUM}: <a href="{searchresults.U_VIEW_FORUM}">{searchresults.FORUM_TITLE}</a></dd>
									<dd>{L_TOPIC}: <a href="{searchresults.U_VIEW_TOPIC}">{searchresults.TOPIC_TITLE}</a></dd>
									<dd>{L_REPLIES}: <strong>{searchresults.TOPIC_REPLIES}</strong></dd>
									<dd>{L_VIEWS}: <strong>{searchresults.TOPIC_VIEWS}</strong></dd>
								</dl>
							</div>
							<div class="col-md-9">
								{searchresults.MESSAGE}
							</div>
						</div>
					</div>
					<div class="panel-footer text-right">
						<!-- IF not searchresults.S_IGNORE_POST -->
							<a href="{searchresults.U_VIEW_POST}" class="{S_CONTENT_FLOW_END}">{L_JUMP_TO_POST}</a>
						<!-- ENDIF -->
					</div>
				</div>
			<!-- ENDIF -->
		</div>
	<!-- BEGINELSE -->
		<div class="row">
			<div class="well">
			<strong>{L_NO_SEARCH_RESULTS}</strong>
			</div>
		</div>
	<!-- END searchresults -->
<!-- ENDIF -->

<!-- IF PAGINATION or .searchresults or S_SELECT_SORT_KEY or S_SELECT_SORT_DAYS -->
	<div class="well well-sm">
		<form method="post" action="{S_SEARCH_ACTION}">
			<fieldset class="display-options">
				<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
				<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
				<!-- IF S_SELECT_SORT_DAYS or S_SELECT_SORT_KEY -->
					<label><!-- IF S_SHOW_TOPICS -->{L_DISPLAY_POSTS}<!-- ELSE -->{L_SORT_BY}</label><label><!-- ENDIF --> {S_SELECT_SORT_DAYS}<!-- IF S_SELECT_SORT_KEY --></label> <label>{S_SELECT_SORT_KEY}</label>
					<label>{S_SELECT_SORT_DIR}<!-- ENDIF --> <input type="submit" name="sort" value="{L_GO}" class="btn btn-default" /></label>
				<!-- ENDIF -->
			</fieldset>
		</form>
	</div>
<!-- ENDIF -->

<!-- IF PAGINATION or SEARCH_MATCHES or PAGE_NUMBER -->
	<form method="post" action="{S_SEARCH_ACTION}">
		<div class="row">
			<!-- IF SEARCH_MATCHES -->
				<div class="col-md-3">
					<!-- IF SEARCH_TOPIC -->
						<a class="btn btn-warning btn-labeled" href="{U_SEARCH_TOPIC}"><span class="btn-label"><i class="fa fa-arrow-left"></i></span>{L_RETURN_TO}: {SEARCH_TOPIC}</a>
					<!-- ELSE -->
						<a class="btn btn-warning btn-labeled" href="{U_SEARCH}" title="{L_SEARCH_ADV}"><span class="btn-label"><i class="fa fa-arrow-left"></i></span>{L_RETURN_TO_SEARCH_ADV}</a>
					<!-- ENDIF -->
				</div>
			<!-- ENDIF -->
			<!-- IF SEARCH_MATCHES --><div class="col-md-6 text-center"><!-- ELSE --><div class="col-md-12 text-center"><!-- ENDIF -->
				<div class="btn-group topic-pagination">
					<a href="{PREVIOUS_PAGE}" class="btn btn-default btn-sm<!-- IF not PREVIOUS_PAGE --> disabled<!-- ENDIF -->"><i class="fa fa-chevron-left"></i> {L_PREVIOUS}</a>
					<!-- IF PAGINATION -->{PAGINATION}<!-- ENDIF -->
					<a href="{NEXT_PAGE}" class="btn btn-default btn-sm<!-- IF not NEXT_PAGE --> disabled<!-- ENDIF -->">{L_NEXT} <i class="fa fa-chevron-right"></i></a>
				</div>
			</div>
			<!-- IF SEARCH_MATCHES -->
				<div class="col-md-3">
					<!-- IF SEARCH_IN_RESULTS -->
						<div class="input-group">
							<input type="text" name="add_keywords" id="add_keywords" value="" class="input-medium form-control" placeholder="{L_SEARCH_IN_RESULTS}"/>
							<span class="input-group-btn">
								<input class="btn btn-default" type="submit" name="submit" value="{L_SEARCH}" />
							</span>
						</div>
					<!-- ENDIF -->
				</div>
			<!-- ENDIF -->
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="btn-group">
					<span class="btn btn-default btn-sm disabled">{SEARCH_MATCHES}</span>
					<!-- IF PAGINATION --> <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}" class="btn btn-default btn-sm no-btn">{PAGE_NUMBER}</a><!-- ELSE --> <span class="btn btn-default btn-sm disabled">{PAGE_NUMBER}</span><!-- ENDIF -->
				</div>
			</div>
		</div>
	</form>
<!-- ENDIF -->

<!-- INCLUDE jumpbox.html -->

<!-- INCLUDE overall_footer.html -->
