<!-- INCLUDE ucp_header.html -->

<!-- INCLUDE ucp_pm_message_header.html -->

<!-- IF S_DISPLAY_HISTORY and (U_VIEW_PREVIOUS_HISTORY or U_VIEW_NEXT_HISTORY) -->
	<fieldset class="display-options clearfix">
		<!-- IF U_VIEW_PREVIOUS_HISTORY --><a href="{U_VIEW_PREVIOUS_HISTORY}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_VIEW_PREVIOUS_HISTORY}</a><!-- ENDIF -->
		<!-- IF U_VIEW_NEXT_HISTORY --><a href="{U_VIEW_NEXT_HISTORY}" class="right-box {S_CONTENT_FLOW_END}">{L_VIEW_NEXT_HISTORY}</a><!-- ENDIF -->
	</fieldset>
<!-- ENDIF -->

<div id="post-{MESSAGE_ID}" class="post <!-- IF S_POST_UNAPPROVED or S_POST_REPORTED --> reported<!-- ENDIF -->">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title first">{SUBJECT}</h3>
		</div>
		<div class="panel-body no-padding <!-- IF $PROFILE_RIGHT == 1 -->badger-right <!-- ELSE -->badger-left <!-- ENDIF --> <!-- IF S_ONLINE -->badger-success" data-badger="ONLINE<!-- ELSE -->badger-danger" data-badger="OFFLINE<!-- ENDIF -->">
			<div class="row no-margin">
				<div class="col-md-3 col-xs-12 post-info <!-- IF $PROFILE_RIGHT == 1 -->pull-right post-info-right<!-- ELSE -->post-info-left<!-- ENDIF -->">
					<dl id="profile{MESSAGE_ID}">
						<dt class="avatar text-center">
							<!-- IF AUTHOR_AVATAR -->
							<a href="{U_MESSAGE_AUTHOR}">{AUTHOR_AVATAR}</a>
							<br />
							<!-- ENDIF -->
							{MESSAGE_AUTHOR_FULL}
						</dt>
						<!-- IF postrow.RANK_TITLE or postrow.RANK_IMG -->
						<dd class="text-center">
							<span class="badge">{postrow.RANK_TITLE}</span>
							<!-- IF postrow.RANK_TITLE and postrow.RANK_IMG -->
							<br />
							<!-- ENDIF -->
							<div class="rank-img">
								{postrow.RANK_IMG}
							</div>
						</dd>
						<!-- ENDIF -->

						<dd>
							<hr/>
						</dd>

						<dd>
							<strong>{L_POSTS}:</strong> {AUTHOR_POSTS}
						</dd>
						<!-- IF AUTHOR_JOINED -->
							<dd>
								<strong>{L_JOINED}:</strong> {AUTHOR_JOINED}
							</dd>
						<!-- ENDIF -->

						<!-- IF AUTHOR_FROM -->
							<dd>
								<strong>{L_LOCATION}:</strong> {AUTHOR_FROM}
							</dd>
						<!-- ENDIF -->

						<!-- BEGIN custom_fields -->
							<dd>
								<strong>{custom_fields.PROFILE_FIELD_NAME}:</strong> {custom_fields.PROFILE_FIELD_VALUE}
							</dd>
						<!-- END custom_fields -->
						<hr/>
						
						<div class="spacer"></div>
						<!-- IF U_PM or U_EMAIL or U_WWW or U_MSN or U_ICQ or U_YIM or U_AIM or U_JABBER -->
							<dd>
								<div class="btn-group">
									<!-- IF postrow.U_PM -->
										<a class="btn btn-mini btn-primary" href="{postrow.U_PM}" title="{L_PRIVATE_MESSAGE}"><i class="fa fa-comment"></i></a>
									<!-- ENDIF -->
									<!-- IF postrow.U_EMAIL -->
										<a class="btn btn-mini btn-primary" href="{postrow.U_EMAIL}" title="{L_SEND_EMAIL_USER} {postrow.POST_AUTHOR}"><i class="fa fa-envelope"></i></a>
									<!-- ENDIF -->
									<!-- IF postrow.U_WWW -->
										<a class="btn btn-mini btn-primary" href="{postrow.U_WWW}" title="{L_VISIT_WEBSITE}: {postrow.U_WWW}"><i class="fa fa-globe"></i></a>
									<!-- ENDIF -->
									<!-- IF postrow.U_MSN or postrow.U_ICQ or postrow.U_AIM or postrow.U_JABBER -->
										<div class="btn-group pull-left">
											<a class="btn btn-mini btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
												<i class="icon-plus-sign"></i>
												<span class="caret"></span>
											</a>
											<ul class="dropdown-menu">
												<!-- IF postrow.U_MSN --><li class="msnm"><a href="{postrow.U_MSN}" onclick="popup(this.href, 550, 320); return false;" title="{L_MSNM}"><i class="icon-comment"></i> MSN</a></li><!-- ENDIF -->
												<!-- IF postrow.U_ICQ --><li class="icq"><a href="{postrow.U_ICQ}" onclick="popup(this.href, 550, 320); return false;" title="{L_ICQ}"><i class="icon-comment"></i> ICQ</a></li><!-- ENDIF -->
												<!-- IF postrow.U_YIM --><li class="yahoo"><a href="{postrow.U_YIM}" onclick="popup(this.href, 780, 550); return false;" title="{L_YIM}"><i class="icon-comment"></i> YIM</a></li><!-- ENDIF -->
												<!-- IF postrow.U_AIM --><li class="aim"><a href="{postrow.U_AIM}" onclick="popup(this.href, 550, 320); return false;" title="{L_AIM}"><i class="icon-comment"></i> AIM</a></li><!-- ENDIF -->
												<!-- IF postrow.U_JABBER --><li class="jabber"><a href="{postrow.U_JABBER}" onclick="popup(this.href, 550, 320); return false;" title="{L_JABBER}"><i class="icon-comment"></i> Jabber</a></li><!-- ENDIF -->
											</ul>
										</div>
									<!-- ENDIF -->
								</div>
							</dd>
						<!-- ENDIF -->
					</dl>
				</div>
				<div class="col-md-9 col-xs-12 post-content <!-- IF $PROFILE_RIGHT=1 -->post-content-left<!-- ELSE -->post-content-right<!-- ENDIF -->">
					<div class="row post-head hidden-xs">
						<div class="col-md-6 col-xs-6">
							<strong>{L_SENT_AT}:</strong> {SENT_DATE}
							<br /><strong>{L_PM_FROM}:</strong> {MESSAGE_AUTHOR_FULL}
							<!-- IF S_TO_RECIPIENT --><br /><strong>{L_TO}:</strong> <!-- BEGIN to_recipient --><!-- IF to_recipient.NAME_FULL -->{to_recipient.NAME_FULL}<!-- ELSE --><a href="{to_recipient.U_VIEW}" style="color:<!-- IF to_recipient.COLOUR -->{to_recipient.COLOUR}<!-- ELSEIF to_recipient.IS_GROUP -->#0000FF<!-- ENDIF -->;">{to_recipient.NAME}</a><!-- ENDIF -->&nbsp;<!-- END to_recipient --><!-- ENDIF -->
							<!-- IF S_BCC_RECIPIENT --><br /><strong>{L_BCC}:</strong> <!-- BEGIN bcc_recipient --><!-- IF bcc_recipient.NAME_FULL -->{bcc_recipient.NAME_FULL}<!-- ELSE --><a href="{bcc_recipient.U_VIEW}" style="color:<!-- IF bcc_recipient.COLOUR -->{bcc_recipient.COLOUR}<!-- ELSEIF bcc_recipient.IS_GROUP -->#0000FF<!-- ENDIF -->;">{bcc_recipient.NAME}</a><!-- ENDIF -->&nbsp;<!-- END bcc_recipient --><!-- ENDIF -->
						</div>
						<div class="col-md-6 col-xs-6">
							<div class="btn-toolbar topic-buttons">
								<!-- IF U_DELETE or U_EDIT or U_QUOTE or U_REPORT -->
									<div class="btn-group">
										<!-- IF U_EDIT -->
											<a class="btn btn-warning" href="{U_EDIT}" title="{L_POST_EDIT_PM}" data-original-title="{L_POST_EDIT_PM}"><i class="fa fa-pencil"></i></a>
										<!-- ENDIF -->
										<!-- IF U_DELETE -->
											<a class="btn btn-danger" href="{U_DELETE}" title="{L_DELETE_MESSAGE}" data-original-title="{L_DELETE_MESSAGE}"><i class="fa fa-trash-o"></i></a>
										<!-- ENDIF -->
									</div>
									<div class="btn-group">
										<!-- IF U_REPORT -->
											<a class="btn btn-warning" href="{U_REPORT}" title="{L_REPORT_PM}" data-original-title="{L_REPORT_PM}"><i class="fa fa-exclamation"></i></a>
										<!-- ENDIF -->
										<!-- IF U_QUOTE -->
											<a class="btn btn-success" href="{U_QUOTE}" title="{L_POST_QUOTE_PM}" data-original-title="{L_POST_QUOTE_PM}"><i class="fa fa-quote-left"></i></a>
										<!-- ENDIF -->
									</div>
								<!-- ENDIF -->
							</div>
						</div>
					</div>
					<div class="content">{MESSAGE}</div>
					<!-- IF S_HAS_ATTACHMENTS -->
						<dl class="attachbox">
							<dt>{L_ATTACHMENTS}</dt>
							<!-- BEGIN attachment -->
							<dd>{attachment.DISPLAY_ATTACHMENT}</dd>
							<!-- END attachment -->
						</dl>
					<!-- ENDIF -->
					<!-- IF S_DISPLAY_NOTICE --><div class="rules">{L_DOWNLOAD_NOTICE}</div><!-- ENDIF -->
					<!-- IF EDITED_MESSAGE or EDIT_REASON -->
						<div class="notice">{EDITED_MESSAGE}
							<!-- IF EDIT_REASON --><br /><strong>{L_REASON}:</strong> <em>{EDIT_REASON}</em><!-- ENDIF -->
						</div>
					<!-- ENDIF -->
					<!-- IF SIGNATURE -->
						<div id="sig{MESSAGE_ID}" class="signature">{SIGNATURE}</div>
					<!-- ENDIF -->
				</div>
			</div>
		</div>
		<div class="panel-footer post-footer">
			<div class="to-top pull-right"><a href="#top" class="top" title="{L_BACK_TO_TOP}"><i class="fa fa-chevron-up"></i></a></div>
		</div>
	</div>
</div>

<!-- IF S_VIEW_MESSAGE -->
	<fieldset class="display-options">
		<ul class="pager">
			<!-- IF U_PREVIOUS_PM --><li class="previous"><a href="{U_PREVIOUS_PM}"><i class="fa fa-chevron-left"></i> {L_VIEW_PREVIOUS_PM}</a></li><!-- ENDIF -->
			<!-- IF U_NEXT_PM --><li class="next"><a href="{U_NEXT_PM}">{L_VIEW_NEXT_PM} <i class="fa fa-chevron-right"></i></a></li><!-- ENDIF -->
		</ul>
		<!-- IF S_MARK_OPTIONS --><label for="mark_option"><select name="mark_option" id="mark_option">{S_MARK_OPTIONS}</select></label>&nbsp;<input class="btn btn-default" type="submit" name="submit_mark" value="{L_GO}" /><!-- ENDIF -->
		<!-- IF not S_UNREAD and not S_SPECIAL_FOLDER --><label for="dest_folder"><!-- IF S_VIEW_MESSAGE -->{L_MOVE_TO_FOLDER}: <!-- ELSE -->{L_MOVE_MARKED_TO_FOLDER}<!-- ENDIF --> <select name="dest_folder" id="dest_folder">{S_TO_FOLDER_OPTIONS}</select></label> <input class="btn btn-default" type="submit" name="move_pm" value="{L_GO}" /><!-- ENDIF -->
		<input type="hidden" name="marked_msg_id[]" value="{MSG_ID}" />
		<input type="hidden" name="cur_folder_id" value="{CUR_FOLDER_ID}" />
		<input type="hidden" name="p" value="{MSG_ID}" />
	</fieldset>
<!-- ENDIF -->

<!-- INCLUDE ucp_pm_message_footer.html -->

<!-- IF S_DISPLAY_HISTORY --><!-- INCLUDE ucp_pm_history.html --><!-- ENDIF -->

<!-- INCLUDE ucp_footer.html -->
