<!-- INCLUDE overall_header.html -->

<div class="page-header">
	<h2>{FORUM_NAME}</h2>
	<!-- IF FORUM_DESC --><p>{FORUM_DESC}</p><!-- ENDIF -->
</div>

<!-- IF FORUM_DESC or MODERATORS or U_MCP -->
	<div>
		<!-- NOTE: remove the style="display: none" when you want to have the forum description on the forum body -->
		<!-- IF MODERATORS --><p><strong><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->:</strong> {MODERATORS}</p><!-- ENDIF -->
	</div>
<!-- ENDIF -->

<!-- IF S_FORUM_RULES -->
	<div class="rules">
		<div class="alert alert-warning">
			<!-- IF U_FORUM_RULES -->
				<a href="{U_FORUM_RULES}">{L_FORUM_RULES}</a>
			<!-- ELSE -->
				<i class="fa fa-exclamation-triangle"></i> <strong>{L_FORUM_RULES}</strong>
				<hr class="message-inner-separator">
				<p>{FORUM_RULES}</p>
			<!-- ENDIF -->
		</div>
	</div>
<!-- ENDIF -->

<!-- IF S_HAS_SUBFORUM -->
	<!-- IF not S_IS_BOT and U_MARK_FORUMS -->
		<div class="row">
			<div class="col-md-12">
				<div class="pull-right">
					<a href="{U_MARK_FORUMS}" class="btn btn-default btn-sm">{L_MARK_SUBFORUMS_READ}</a>
				</div>
			</div>
		</div>
	<!-- ENDIF -->
	<!-- INCLUDE forumlist_body.html -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_POST_INFO or PAGINATION or TOTAL_POSTS or TOTAL_TOPICS -->
	<div class="row mobile-fix" <!-- IF S_HAS_SUBFORUM -->style="margin-top: 2em;"<!-- ENDIF -->>
		<!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
			<div class="col-md-3 col-xs-12">
				<!-- IF S_IS_LOCKED -->
					<a class="btn btn-danger btn-labeled" href="{U_POST_NEW_TOPIC}"><span class="btn-label"><i class="fa fa-lock"></i></span>{L_FORUM_LOCKED}</a>
				<!-- ELSE -->
					<a class="btn btn-primary btn-labeled" href="{U_POST_NEW_TOPIC}"><span class="btn-label"><i class="fa fa-pencil-square-o"></i></span> {L_POST_TOPIC}</a>
				<!-- ENDIF -->
			</div>
		<!-- ENDIF -->
	</div>
<!-- ENDIF -->

<!-- IF S_NO_READ_ACCESS -->
	<div class="row">
		<div class="well">
			<strong>{L_NO_READ_ACCESS}</strong>
		</div>
	</div>
	<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
		<form action="{S_LOGIN_ACTION}" method="post">
			<div class="row">
				<div class="well well-sm">
					<h3 class="box-heading"><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; &nbsp;<a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3>
					<div class="content">
						<fieldset class="fields1">
							<dl>
								<dt><label for="username">{L_USERNAME}:</label></dt>
								<dd><input type="text" tabindex="1" name="username" id="username" size="25" value="{USERNAME}" class="form-control" /></dd>
							</dl>
							<dl>
							<dt><label for="password">{L_PASSWORD}:</label></dt>
							<dd><input type="password" tabindex="2" id="password" name="password" size="25" class="form-control" /></dd>
								<!-- IF S_AUTOLOGIN_ENABLED --><dd><label for="autologin"><input type="checkbox" name="autologin" id="autologin" tabindex="3" /> {L_LOG_ME_IN}</label></dd><!-- ENDIF -->
								<dd><label for="viewonline"><input type="checkbox" name="viewonline" id="viewonline" tabindex="4" /> {L_HIDE_ME}</label></dd>
							</dl>
							<dl>
								<dt>&nbsp;</dt>
								<dd><input type="submit" name="login" tabindex="5" value="{L_LOGIN}" class="btn" /></dd>
							</dl>
							{S_LOGIN_REDIRECT}
						</fieldset>
					</div>
				</div>
			</div>
		</form>
	<!-- ENDIF -->
<!-- ENDIF -->

<!-- BEGIN topicrow -->
	<!-- IF not topicrow.S_TOPIC_TYPE_SWITCH and not topicrow.S_FIRST_ROW -->
				</tbody>
			</table>
		</div>
	<!-- ENDIF -->

	<!-- IF topicrow.S_FIRST_ROW or not topicrow.S_TOPIC_TYPE_SWITCH -->
		<div class="forumbg table-responsive <!-- IF topicrow.S_TOPIC_TYPE_SWITCH and (topicrow.S_POST_ANNOUNCE or topicrow.S_POST_GLOBAL) --> announcement<!-- ENDIF -->">
			<table class="table table-striped table-bordered">
				<thead class="topiclist">
					<tr class="header">
						<th class="forum-name"><!-- IF S_DISPLAY_ACTIVE -->{L_ACTIVE_TOPICS}<!-- ELSEIF topicrow.S_TOPIC_TYPE_SWITCH and (topicrow.S_POST_ANNOUNCE or topicrow.S_POST_GLOBAL) --><i class="fa fa-bullhorn"></i> {L_ANNOUNCEMENTS}<!-- ELSE --><i class="fa fa-comments-o"></i> {L_TOPICS}<!-- ENDIF --></th>
						<th class="posts hidden-xs"><i class="fa fa-reply"></i> {L_REPLIES}</th>
						<th class="views hidden-xs"><i class="fa fa-eye"></i> {L_VIEWS}</th>
						<th class="lastpost hidden-sxs"><i class="fa fa-history"></i> <span>{L_LAST_POST}</span></th>
					</tr>
				</thead>
				<tbody class="topiclist topics">
	<!-- ENDIF -->
					<tr class="t-row<!-- IF topicrow.S_POST_GLOBAL --> warning-color<!-- ENDIF --><!-- IF topicrow.S_POST_ANNOUNCE --> info-color<!-- ENDIF --><!-- IF topicrow.S_POST_STICKY --> success-color<!-- ENDIF --><!-- IF topicrow.S_TOPIC_REPORTED --> danger-color<!-- ENDIF -->">
						<td class="topic-name <!-- IF topicrow.S_POST_GLOBAL --> warning-color<!-- ENDIF --><!-- IF topicrow.S_POST_ANNOUNCE --> info-color<!-- ENDIF --><!-- IF topicrow.S_POST_STICKY --> success-color<!-- ENDIF --><!-- IF topicrow.S_TOPIC_REPORTED --> danger-color<!-- ENDIF -->" title="{topicrow.TOPIC_FOLDER_IMG_ALT}">
							<div class="pull-left forum-topic-icon">
								<span>
									<a href="{topicrow.U_VIEW_TOPIC}" class="btn <!-- IF topicrow.S_UNREAD_TOPIC -->unread-forum btn-info<!-- ELSE -->btn-default<!-- ENDIF --> btn-lg tooltip-link" title="{topicrow.TOPIC_FOLDER_IMG_ALT}">
										<!-- IF topicrow.S_TOPIC_LOCKED -->
											<i class="fa fa-lock fa-fw"></i>
										<!-- ELSEIF topicrow.S_POST_GLOBAL -->
											<i class="fa fa-info-circle fa-fw"></i>
										<!-- ELSEIF topicrow.S_POST_ANNOUNCE -->
											<i class="fa fa-bullhorn fa-fw"></i>
										<!-- ELSEIF topicrow.S_POST_STICKY -->
											<i class="fa fa-thumb-tack fa-fw"></i>
										<!-- ELSEIF topicrow.S_HAS_POLL -->
											<i class="fa fa-comment-o fa-fw"></i>
										<!-- ELSE -->
											<i class="fa fa-file-text-o fa-fw"></i>
										<!-- ENDIF -->
									</a>
								</span>
							</div>
							<div class="pull-right topic-pagination">
								<div class="btn-group pagination-line">
									<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED -->
										<a href="{topicrow.U_MCP_QUEUE}" class="btn btn-warning btn-xs"><i class="fa fa-exclamation-triangle"></i></a>
									<!-- ENDIF -->
									<!-- IF topicrow.S_TOPIC_REPORTED -->
										<a href="{topicrow.U_MCP_REPORT}" class="btn btn-warning btn-xs"><i class="fa fa-exclamation-triangle"></i></a>
									<!-- ENDIF -->
									<!-- IF topicrow.ATTACH_ICON_IMG -->
										<a href="#" class="btn btn-default btn-xs disabled"><i class="fa fa-paperclip"></i></a>
									<!-- ENDIF -->
									<!-- IF topicrow.PAGINATION -->
										{topicrow.PAGINATION}
									<!-- ENDIF -->
									<!-- IF topicrow.S_UNREAD_TOPIC -->
										<a class="btn btn-xs btn-info" href="{topicrow.U_NEWEST_POST}"><i class="fa fa-angle-right"></i></a>
									<!-- ENDIF -->
									<!-- IF not S_IS_BOT -->
										<a class="btn btn-default btn-xs tooltip-link" href="{topicrow.U_LAST_POST}"  title="{L_LAST_POST}"><i class="fa fa-angle-double-right"></i></a>
									<!-- ENDIF -->
								</div>
							</div>
							<div class="forum-topic-icon-mobile
							<!-- IF topicrow.S_UNREAD_TOPIC -->unread-forum<!-- ENDIF -->">
								<!-- IF topicrow.S_TOPIC_LOCKED -->
									<i class="fa fa-lock"></i>
								<!-- ELSEIF topicrow.S_POST_GLOBAL -->
									<i class="fa fa-info-circle"></i>
								<!-- ELSEIF topicrow.S_POST_ANNOUNCE -->
									<i class="fa fa-bullhorn"></i>
								<!-- ELSEIF topicrow.S_POST_STICKY -->
									<i class="fa fa-thumb-tack"></i>
								<!-- ELSEIF topicrow.S_HAS_POLL -->
									<i class="fa fa-comment-o"></i>
								<!-- ELSE -->
									<i class="fa fa-file-text-o"></i>
								<!-- ENDIF -->
							</div>
							<a href="{topicrow.U_VIEW_TOPIC}" class="topictitle <!-- IF topicrow.S_UNREAD_TOPIC -->unread-forum<!-- ENDIF -->">
								<strong>{topicrow.TOPIC_TITLE}</strong>
							</a>
							<br/>
							<small>{L_POST_BY_AUTHOR} {topicrow.TOPIC_AUTHOR_FULL} &raquo; {topicrow.FIRST_POST_TIME}</small>
						</td>
						<td class="posts<!-- IF topicrow.S_POST_GLOBAL --> warning-color<!-- ENDIF --><!-- IF topicrow.S_POST_ANNOUNCE --> info-color<!-- ENDIF --><!-- IF topicrow.S_POST_STICKY --> success-color<!-- ENDIF --><!-- IF topicrow.S_TOPIC_REPORTED --> danger-color<!-- ENDIF --> hidden-xs">
							<span class="badge">{topicrow.REPLIES}</span>
						</td>
						<td class="views<!-- IF topicrow.S_POST_GLOBAL --> warning-color<!-- ENDIF --><!-- IF topicrow.S_POST_ANNOUNCE --> info-color<!-- ENDIF --><!-- IF topicrow.S_POST_STICKY --> success-color<!-- ENDIF --><!-- IF topicrow.S_TOPIC_REPORTED --> danger-color<!-- ENDIF --> hidden-xs">
							<span class="badge">{topicrow.VIEWS}</span>
						</td>
						<td class="lastpost<!-- IF topicrow.S_POST_GLOBAL --> warning-color<!-- ENDIF --><!-- IF topicrow.S_POST_ANNOUNCE --> info-color<!-- ENDIF --><!-- IF topicrow.S_POST_STICKY --> success-color<!-- ENDIF --><!-- IF topicrow.S_TOPIC_REPORTED --> danger-color<!-- ENDIF --> hidden-sxs"><span><dfn>{L_LAST_POST} </dfn>{L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL}
							<!-- IF not S_IS_BOT --><a href="{topicrow.U_LAST_POST}">{LAST_POST_IMG}</a> <!-- ENDIF --><br />{topicrow.LAST_POST_TIME}</span>
						</td>
					</tr>
		<!-- IF topicrow.S_LAST_ROW -->
				</tbody>
			</table>
		</div>
	<!-- ENDIF -->
	<!-- BEGINELSE -->
		<!-- IF S_IS_POSTABLE -->
			<div class="alert alert-danger">
				<strong>{L_NO_TOPICS}</strong>
			</div>
	<!-- ENDIF -->
<!-- END topicrow -->

<!-- IF S_DISPLAY_POST_INFO or PAGINATION or TOTAL_POSTS or TOTAL_TOPICS -->
	<div class="row mobile-fix" <!-- IF S_HAS_SUBFORUM -->style="margin-top: 2em;"<!-- ENDIF -->>
		<!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
			<div class="col-md-3 col-xs-12">
				<!-- IF S_IS_LOCKED -->
					<a class="btn btn-danger btn-labeled" href="{U_POST_NEW_TOPIC}"><span class="btn-label"><i class="fa fa-lock"></i></span> {L_FORUM_LOCKED}</a>
				<!-- ELSE -->
					<a class="btn btn-primary btn-labeled" href="{U_POST_NEW_TOPIC}"><span class="btn-label"><i class="fa fa-pencil-square-o"></i></span> {L_POST_TOPIC}</a>
				<!-- ENDIF -->
			</div>
		<!-- ENDIF -->
		<!-- IF PAGINATION or TOTAL_POSTS -->
			<div class="col-md-6 text-center col-xs-12">
				<div class="btn-group forum-pagination">
					<a href="{PREVIOUS_PAGE}" class="btn btn-default btn-sm<!-- IF not PREVIOUS_PAGE --> disabled<!-- ENDIF -->"><i class="fa fa-chevron-left"></i> {L_PREVIOUS}</a>
					<!-- IF PAGINATION -->{PAGINATION}<!-- ENDIF -->
					<a href="{NEXT_PAGE}" class="btn btn-default btn-sm<!-- IF not NEXT_PAGE --> disabled<!-- ENDIF -->">{L_NEXT} <i class="fa fa-chevron-right"></i></a>
				</div>
			</div>
		<!-- ENDIF -->
		<!-- IF S_DISPLAY_SEARCHBOX -->
			<div class="col-md-3 col-xs-12 pull-right">
				<form action="{S_SEARCHBOX_ACTION}" method="get" id="forum-search" class="form-search pull-right" style="margin:0;">
					<div class="input-group">
						<input class="input-medium search form-control" type="text" name="keywords" id="search_keywords" size="20" placeholder="{L_SEARCH_FORUM}"/>
						<span class="input-group-btn">
							{S_SEARCH_LOCAL_HIDDEN_FIELDS}
							<button type="submit" class="btn btn-default">{L_SEARCH}</button>
						</span>
					</div>
				</form>
			</div>
		<!-- ENDIF -->
    </div>
    <!-- IF TOTAL_TOPICS or PAGINATION or U_MARK_TOPICS -->
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="btn-group">
					<!-- IF not S_IS_BOT and U_MARK_TOPICS --><a href="{U_MARK_TOPICS}" class="btn btn-default btn-sm" accesskey="m"><i class="icon-check"></i> {L_MARK_TOPICS_READ}</a><!-- ENDIF -->
					<!-- IF TOTAL_TOPICS --><span class="btn btn-default btn-sm disabled">{TOTAL_TOPICS}</span><!-- ENDIF -->
					<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> <a href="#" class="btn btn-default btn-sm" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}"><span>{PAGE_NUMBER}</span></a><!-- ELSE --><span class="btn btn-default btn-sm disabled">{PAGE_NUMBER}</span><!-- ENDIF --><!-- ENDIF -->
				</div>
			</div>
		</div>
	<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF S_SELECT_SORT_DAYS and not S_DISPLAY_ACTIVE -->
	<div class="well well-sm">
		<form method="post" action="{S_FORUM_ACTION}" class="form-inline">
			<fieldset class="display-options">
				<!-- IF not S_IS_BOT -->
					<label>{L_DISPLAY_TOPICS}: {S_SELECT_SORT_DAYS}</label>
					<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label>
					<label>{S_SELECT_SORT_DIR} <input type="submit" name="sort" value="{L_GO}" class="btn btn-default" /></label>
				<!-- ENDIF -->
			</fieldset>
		</form>
	</div>
<!-- ENDIF -->

<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT and $SHOW_LOGIN_PANEL == 1 -->
	<!-- INCLUDE login_panel.html -->
<!-- ENDIF -->

<!-- IF $DISPLAY_JUMPBOX == 1 -->
	<!-- INCLUDE jumpbox.html -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_ONLINE_LIST -->
	<!-- INCLUDE online_panel.html -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_POST_INFO -->
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-unlock-alt"></i> {L_FORUM_PERMISSIONS}</h3>
		</div>
		<div class="panel-body">
			<p><!-- BEGIN rules -->{rules.RULE}<br /><!-- END rules --></p>
		</div>
	</div>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
