<!-- INCLUDE overall_header.html -->

<!-- IF FORUM_DESC -->
	<div class="panel panel-default">
		<div class="panel-body">
			{FORUM_DESC}
		</div>
	</div>
<!-- ENDIF -->

<!-- IF S_FORUM_RULES -->
	<div class="rules">
        <div class="alert alert-warning">
            <!-- IF U_FORUM_RULES -->
                <a href="{U_FORUM_RULES}">{L_FORUM_RULES}</a>
            <!-- ELSE -->
                <i class="fa fa-exclamation-triangle"></i> <strong>{L_FORUM_RULES}</strong>
                <hr class="message-inner-separator">
            	<p>{FORUM_RULES}</p>
            <!-- ENDIF -->
        </div>
    </div>
<!-- ENDIF -->

<div class="row">
	<div class="col-md-12 text-center">
		<div class="btn-group">
			<!-- IF U_VIEW_UNREAD_POST and not S_IS_BOT --><a href="{U_VIEW_UNREAD_POST}" class="btn btn-default btn-sm">{L_VIEW_UNREAD_POST}</a><!-- ENDIF --><span class="btn btn-default btn-sm disabled">{TOTAL_POSTS}</span>
			<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}" class="btn btn-default btn-sm no-btn">{PAGE_NUMBER}</a><!-- ELSE --> <span class="btn btn-default btn-sm disabled">{PAGE_NUMBER}</span><!-- ENDIF --><!-- ENDIF -->
		</div>
	</div>
</div>

<div class="row mobile-fix">
	<!-- IF not S_IS_BOT and S_DISPLAY_REPLY_INFO -->
		<div class="col-md-3">
			<!-- IF S_IS_LOCKED -->
				<a class="btn btn-danger btn-labeled" href="{U_POST_REPLY_TOPIC}" title="{L_TOPIC_LOCKED}"><span class="btn-label"><i class="fa fa-lock"></i></span> {L_TOPIC_LOCKED_SHORT}</a>
			<!-- ELSE -->
				<a class="btn btn-primary btn-labeled" href="{U_POST_REPLY_TOPIC}" title="{L_POST_REPLY}"><span class="btn-label"><i class="fa fa-pencil-square-o"></i></span> {L_POST_REPLY}</a>
			<!-- ENDIF -->
		</div>
	<!-- ENDIF -->

	<!-- IF PAGINATION or TOTAL_POSTS -->
		<div class="col-md-6 text-center">
			<div class="btn-group topic-pagination">
				<a href="{PREVIOUS_PAGE}" class="btn btn-default btn-sm<!-- IF not PREVIOUS_PAGE --> disabled<!-- ENDIF -->"><i class="fa fa-chevron-left"></i> {L_PREVIOUS}</a>
				<!-- IF PAGINATION -->{PAGINATION}<!-- ENDIF -->
				<a href="{NEXT_PAGE}" class="btn btn-default btn-sm<!-- IF not NEXT_PAGE --> disabled<!-- ENDIF -->">{L_NEXT} <i class="fa fa-chevron-right"></i></a>
			</div>
		</div>
	<!-- ENDIF -->

	<!-- IF S_DISPLAY_SEARCHBOX -->
		<div class="col-md-3">
			<form method="get" id="topic-search" action="{S_SEARCHBOX_ACTION}" class="form-search pull-right no-margin">
				<div class="input-group">
					<input class="input-medium form-control"  type="text" name="keywords" id="search_keywords" size="20" placeholder="{LA_SEARCH_TOPIC}"/>
					<span class="input-group-btn">
						{S_SEARCH_LOCAL_HIDDEN_FIELDS}
						<button type="submit" class="btn btn-default">{L_SEARCH}</button>
					</span>
				</div>
			</form>
		</div>
	<!-- ENDIF -->
</div>
<div class="clearfix"></div>

<!-- IF S_HAS_POLL -->
	<form method="post" action="{S_POLL_ACTION}">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{POLL_QUESTION}</h3>
			</div>
			<div class="panel-body">
				<p class="author">{L_POLL_LENGTH}<!-- IF S_CAN_VOTE and L_POLL_LENGTH --><br /><!-- ENDIF --><!-- IF S_CAN_VOTE -->{L_MAX_VOTES}<!-- ENDIF --></p>
				<fieldset class="polls">
				<!-- BEGIN poll_option -->
					<div class="row <!-- IF poll_option.POLL_OPTION_VOTED -->voted" title="{L_POLL_VOTED_OPTION}<!-- ENDIF -->">
						<!-- IF poll_option.POLL_OPTION_VOTED or S_DISPLAY_RESULTS --><div class="col-md-3"><!-- ELSE --><div class="col-md-12"><!-- ENDIF -->
							<!-- IF S_CAN_VOTE -->
								<!-- IF S_IS_MULTI_CHOICE --><div class="checkbox"><!-- ELSE --><div class="radio"><!-- ENDIF -->
								<label for="vote_{poll_option.POLL_OPTION_ID}">
									<!-- IF S_IS_MULTI_CHOICE -->
										<input type="checkbox" name="vote_id[]" id="vote_{poll_option.POLL_OPTION_ID}" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> />
									<!-- ELSE -->
										<input type="radio" name="vote_id[]" id="vote_{poll_option.POLL_OPTION_ID}" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> />
									<!-- ENDIF -->
								{poll_option.POLL_OPTION_CAPTION}</label>
								</div>
							<!-- ELSE -->
								{poll_option.POLL_OPTION_CAPTION}
							<!-- ENDIF -->
						</div>
						<!-- IF S_DISPLAY_RESULTS -->
							<div class="col-md-7 vote-progress">
								<div class="progress">
									<div class="progress-bar <!-- IF poll_option.POLL_OPTION_PCT < 33 -->progress-bar-danger<!-- ELSEIF poll_option.POLL_OPTION_PCT < 66 -->progress-bar-warning<!-- ELSE -->progress-bar-success<!-- ENDIF -->"  role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:<!-- IF poll_option.POLL_OPTION_PCT < 10 -->10%<!-- ELSE -->{poll_option.POLL_OPTION_PERCENT}<!-- ENDIF -->;">
										<!-- IF poll_option.POLL_OPTION_RESULT == 0 -->{L_NO_VOTES}<!-- ELSE -->{poll_option.POLL_OPTION_PERCENT}<!-- ENDIF -->
									</div>
								</div>
							</div>
							<div class="col-md-2 vote-progress">
								{poll_option.POLL_OPTION_RESULT}
							</div>
						<!-- ENDIF -->
					</div>
				<!-- END poll_option -->
				<div class="clearfix"></div>
				<!-- IF S_DISPLAY_RESULTS -->
					<div class="text-center center-block">
						<span class="btn btn-default disabled">{L_TOTAL_VOTES} : {TOTAL_VOTES}</span>
					</div>
				<!-- ENDIF -->
				<div class="spacer"></div>
				<!-- IF S_CAN_VOTE -->
					<div class=" text-center center-block">
						<div class="btn-group">
							<input type="submit" name="update" value="{L_SUBMIT_VOTE}" class="btn btn-success" />
							<!-- IF not S_DISPLAY_RESULTS --><a class="btn btn-warning" href="{U_VIEW_RESULTS}">{L_VIEW_RESULTS}</a><!-- ENDIF -->
						</div>
					</div>
				<!-- ENDIF -->
				</fieldset>
			</div>
			{S_FORM_TOKEN}
			{S_HIDDEN_FIELDS}
		</div>
	</form>
	<hr />
<!-- ENDIF -->

<!-- BEGIN postrow -->
	<!-- IF postrow.S_FIRST_UNREAD --><a id="unread"></a><!-- ENDIF -->
	<div id="p{postrow.POST_ID}">
		<div class="panel <!-- IF postrow.S_UNREAD_POST -->panel-info<!-- ELSEIF postrow.S_POST_REPORTED -->panel-danger<!-- ELSE -->panel-primary<!-- ENDIF -->">
			<div class="panel-heading">
				<h3 class="panel-title<!-- IF postrow.S_FIRST_ROW --> first<!-- ENDIF --> pull-left"><!-- IF postrow.POST_ICON_IMG --><img src="{T_ICONS_PATH}{postrow.POST_ICON_IMG}" width="{postrow.POST_ICON_IMG_WIDTH}" height="{postrow.POST_ICON_IMG_HEIGHT}" alt="" /> <!-- ENDIF --><a href="#p{postrow.POST_ID}">{postrow.POST_SUBJECT}</a></h3>
				<!-- IF postrow.S_POST_UNAPPROVED or postrow.S_POST_REPORTED -->
					<p class="rules pull-right no-margin-bottom">
						<!-- IF postrow.S_POST_UNAPPROVED -->{UNAPPROVED_IMG} <a href="{postrow.U_MCP_APPROVE}"><strong>{L_POST_UNAPPROVED}</strong></a><br /><!-- ENDIF -->
						<!-- IF postrow.S_POST_REPORTED -->{REPORTED_IMG} <a href="{postrow.U_MCP_REPORT}"><strong>{L_POST_REPORTED}</strong></a><!-- ENDIF -->
					</p>
				<!-- ENDIF -->
				<div class="clearfix"></div>
			</div>
			<div class="panel-body no-padding badger-left <!-- IF postrow.S_ONLINE and not postrow.S_IGNORE_POST -->badger-success" data-badger="ONLINE<!-- ELSE -->badger-danger" data-badger="OFFLINE<!-- ENDIF -->">
				<div class="row no-margin">
				<!-- IF not postrow.S_IGNORE_POST -->
					<div class="col-md-3 col-xs-12 post-info post-info-left">
						<dl id="profile{postrow.POST_ID}" class="no-margin-xs">
							<dt class="avatar text-center rounded">
								<!-- IF postrow.POSTER_AVATAR -->
									<!-- IF postrow.U_POST_AUTHOR -->
										<a href="{postrow.U_POST_AUTHOR}">{postrow.POSTER_AVATAR}</a>
									<!-- ELSE -->
										{postrow.POSTER_AVATAR}
									<!-- ENDIF -->
									<br />
								<!-- ELSE -->
									<img src="{T_THEME_PATH}/images/default_avatar.jpg" alt="avatar">
								<!-- ENDIF -->
							</dt>
							<dd class="text-center">
								<!-- IF not postrow.U_POST_AUTHOR -->
									<strong>{postrow.POST_AUTHOR_FULL}</strong>
								<!-- ELSE -->
									{postrow.POST_AUTHOR_FULL}
								<!-- ENDIF -->

								<!-- IF postrow.RANK_TITLE or postrow.RANK_IMG -->
									<dd class="text-center">
										<!--<span class="badge">{postrow.RANK_TITLE}</span>-->
										<!-- IF postrow.RANK_TITLE and postrow.RANK_IMG -->
											<br />
										<!-- ENDIF -->
										<div class="rank-img">
											{postrow.RANK_IMG}
										</div>
									</dd>
								<!-- ENDIF -->
							</dd>
						</dl>
						<dl class="hidden-xs">
							<dt>
								<hr/>
							</dt>
							<!-- IF postrow.POSTER_POSTS != '' --><dd><strong>{L_POSTS}:</strong> {postrow.POSTER_POSTS}</dd><!-- ENDIF -->
							<!-- IF postrow.POSTER_JOINED --><dd><strong>{L_JOINED}:</strong> {postrow.POSTER_JOINED}</dd><!-- ENDIF -->
							<!-- IF postrow.POSTER_FROM --><dd><strong>{L_LOCATION}:</strong> {postrow.POSTER_FROM}</dd><!-- ENDIF -->
							<!-- IF postrow.S_PROFILE_FIELD1 -->
								<!-- Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
								<dd><strong>{postrow.PROFILE_FIELD1_NAME}:</strong> {postrow.PROFILE_FIELD1_VALUE}</dd>
							<!-- ENDIF -->
							<!-- BEGIN custom_fields -->
								<dd><strong>{postrow.custom_fields.PROFILE_FIELD_NAME}:</strong> {postrow.custom_fields.PROFILE_FIELD_VALUE}</dd>
							<!-- END custom_fields -->

							<!-- IF not S_IS_BOT -->
								<!-- IF postrow.U_PM or postrow.U_EMAIL or postrow.U_WWW or postrow.U_MSN or postrow.U_ICQ or postrow.U_YIM or postrow.U_AIM or postrow.U_JABBER -->
									<dd><div class="spacer"></div></dd>
									<dd>
										<div class="btn-group">
											<!-- IF postrow.U_PM -->
												<a class="btn btn-mini btn-primary" href="{postrow.U_PM}" target="_blank" title="{L_PRIVATE_MESSAGE}"><i class="fa fa-comment"></i></a>
											<!-- ENDIF -->
											<!-- IF postrow.U_EMAIL -->
												<a class="btn btn-mini btn-primary" href="{postrow.U_EMAIL}" target="_blank" title="{L_SEND_EMAIL_USER} {postrow.POST_AUTHOR}"><i class="fa fa-envelope"></i></a>
											<!-- ENDIF -->
											<!-- IF postrow.U_WWW -->
												<a class="btn btn-mini btn-primary" href="{postrow.U_WWW}" target="_blank" title="{L_VISIT_WEBSITE}: {postrow.U_WWW}"><i class="fa fa-globe"></i></a>
											<!-- ENDIF -->
											<!-- IF postrow.U_MSN or postrow.U_ICQ or postrow.U_AIM or postrow.U_JABBER -->
												<div class="btn-group pull-left">
													<a class="btn btn-mini btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
														<i class="icon-plus-sign"></i>
														<span class="caret"></span>
													</a>
													<ul class="dropdown-menu">
														<!-- IF postrow.U_MSN --><li class="msnm"><a href="{postrow.U_MSN}" onclick="popup(this.href, 550, 320); return false;" title="{L_MSNM}"><i class="icon-comment"></i> MSN</a></li><!-- ENDIF -->
														<!-- IF postrow.U_ICQ --><li class="icq"><a href="{postrow.U_ICQ}" onclick="popup(this.href, 550, 320); return false;" title="{L_ICQ}"><i class="icon-comment"></i> ICQ</a></li><!-- ENDIF -->
														<!-- IF postrow.U_YIM --><li class="yahoo"><a href="{postrow.U_YIM}" onclick="popup(this.href, 780, 550); return false;" title="{L_YIM}"><i class="icon-comment"></i> YIM</a></li><!-- ENDIF -->
														<!-- IF postrow.U_AIM --><li class="aim"><a href="{postrow.U_AIM}" onclick="popup(this.href, 550, 320); return false;" title="{L_AIM}"><i class="icon-comment"></i> AIM</a></li><!-- ENDIF -->
														<!-- IF postrow.U_JABBER --><li class="jabber"><a href="{postrow.U_JABBER}" onclick="popup(this.href, 550, 320); return false;" title="{L_JABBER}"><i class="icon-comment"></i> Jabber</a></li><!-- ENDIF -->
													</ul>
												</div>
											<!-- ENDIF -->
										</div>
									</dd>
									<dd><div class="clearfix"></div></dd>
								<!-- ENDIF -->
							<!-- ENDIF -->
						</dl>
					</div>
				<!-- ENDIF -->
				<div class="col-md-9 col-xs-12 post-content post-content-right">
					<!-- IF postrow.S_IGNORE_POST -->
						<div class="ignore">{postrow.L_IGNORE_POST}</div>
					<!-- ELSE -->
						<div class="row post-head hidden-xs no-margin-bottom">
							<div class="col-md-6 col-xs-6 author">
								{L_POST_BY_AUTHOR} <strong>{postrow.POST_AUTHOR_FULL}</strong> &raquo; {postrow.POST_DATE}
							</div>
							<div class="col-md-6 col-xs-6 no-padding">
							<!-- IF not S_IS_BOT -->
								<!-- IF postrow.U_EDIT or postrow.U_DELETE or postrow.U_REPORT or postrow.U_WARN or postrow.U_INFO or postrow.U_QUOTE -->
									<div class="btn-toolbar topic-buttons" role="toolbar">
										<div class="btn-group">
											<!-- IF U_EMAIL_TOPIC --><a class="btn btn-info" href="{U_EMAIL_TOPIC}" title="{L_EMAIL_TOPIC}"><i class="fa fa-envelope"></i></a><!-- ENDIF -->
											<!-- IF U_EMAIL_PM --><a class="btn btn-info" href="{U_EMAIL_PM}" title="{L_EMAIL_PM}"><i class="fa fa-envelope"></i></a><!-- ENDIF -->
											<!-- IF U_PRINT_TOPIC --><a class="btn btn-info" href="{U_PRINT_TOPIC}" title="{L_PRINT_TOPIC}" accesskey="p" class="print"><i class="fa fa-print"></i></a><!-- ENDIF -->
											<!-- IF U_PRINT_PM --><a class="btn btn-info" href="{U_PRINT_PM}" title="{L_PRINT_PM}" accesskey="p" class="print"><i class="fa fa-print"></i></a><!-- ENDIF -->
										</div>
										<div class="btn-group">
											<!-- IF postrow.U_EDIT --><a class="btn btn-warning" href="{postrow.U_EDIT}" title="{L_EDIT_POST}"><i class="fa fa-pencil"></i></a><!-- ENDIF -->
											<!-- IF postrow.U_DELETE --><a class="btn btn-danger" href="{postrow.U_DELETE}" title="{L_DELETE_POST}"><i class="fa fa-trash-o"></i></a><!-- ENDIF -->
										</div>
										<div class="btn-group">
											<!-- IF postrow.U_REPORT --><a class="btn btn-danger" href="{postrow.U_REPORT}" title="{L_REPORT_POST}"><i class="fa fa-exclamation"></i></a><!-- ENDIF -->
											<!-- IF postrow.U_WARN --><a class="btn btn-warning" href="{postrow.U_WARN}" title="{L_WARN_USER}"><i class="fa fa-minus"></i></a><!-- ENDIF -->
											<!-- IF postrow.U_INFO --><a class="btn btn-primary" href="{postrow.U_INFO}" title="{L_INFORMATION}"><i class="fa fa-info"></i></a><!-- ENDIF -->
											<!-- IF postrow.U_QUOTE --><a class="btn btn-success" href="{postrow.U_QUOTE}" title="{L_REPLY_WITH_QUOTE}"><i class="fa fa-quote-left"></i></a><!-- ENDIF -->
										</div>
									</div>
								<!-- ENDIF -->
							<!-- ENDIF -->
							</div>
						</div>
						<div class="content">
							{postrow.MESSAGE}
						</div>
						<!-- IF postrow.S_HAS_ATTACHMENTS -->
							<div class="panel panel-default attachbox panel-collapsible">
								<div class="panel-heading">
									<h3 class="panel-title">{L_ATTACHMENTS}</h3>
									<span class="pull-right panel-right clickable panel-collapsed"><i class="fa fa-chevron-down"></i></span>
								</div>
								<div class="panel-body" style="display:none">
									<!-- BEGIN attachment -->
										{postrow.attachment.DISPLAY_ATTACHMENT}
									<!-- END attachment -->
								</div>
							</div>
						<!-- ENDIF -->
						<!-- IF postrow.S_DISPLAY_NOTICE --><div class="rules">{L_DOWNLOAD_NOTICE}</div><!-- ENDIF -->
					<!-- ENDIF -->
				</div>
				</div>
			</div>
			<!-- IF postrow.SIGNATURE -->
				<div class="panel-body no-padding text-center">
					<div id="sig{postrow.POST_ID}" class="signature">{postrow.SIGNATURE}</div>
				</div>
			<!-- ENDIF -->
			<div class="panel-footer post-footer">
				<!-- IF postrow.EDITED_MESSAGE or postrow.EDIT_REASON or postrow.BUMPED_MESSAGE -->
					<div class="panel-foo">
						{postrow.EDITED_MESSAGE}
						<!-- IF postrow.EDIT_REASON --><br/><strong>{L_REASON}:</strong> <em>{postrow.EDIT_REASON}</em><!-- ENDIF -->
						<!-- IF postrow.BUMPED_MESSAGE --><br/>{postrow.BUMPED_MESSAGE}<!-- ENDIF -->
					</div>
				<!-- ENDIF -->
				<div class="to-top pull-right"><a href="#content-wrapper" class="top" title="{L_BACK_TO_TOP}"><i class="fa fa-chevron-up"></i></a></div>
			</div>
		</div>
	</div>
<!-- END postrow -->

<!-- IF S_QUICK_REPLY -->
	<!-- INCLUDE quickreply_editor.html -->
<!-- ENDIF -->

<div class="row mobile-fix">
	<!-- IF not S_IS_BOT and S_DISPLAY_REPLY_INFO -->
		<div class="col-md-3">
			<!-- IF S_IS_LOCKED -->
				<a class="btn btn-danger btn-labeled" href="{U_POST_REPLY_TOPIC}" title="{L_TOPIC_LOCKED}"><span class="btn-label"><i class="fa fa-lock"></i></span> {L_TOPIC_LOCKED_SHORT}</a>
			<!-- ELSE -->
				<a class="btn btn-primary btn-labeled" href="{U_POST_REPLY_TOPIC}" title="{L_POST_REPLY}"><span class="btn-label"><i class="fa fa-pencil-square-o"></i></span> {L_POST_REPLY}</a>
			<!-- ENDIF -->
		</div>
	<!-- ENDIF -->

	<!-- IF PAGINATION or TOTAL_POSTS -->
		<div class="col-md-6 text-center">
			<div class="btn-group topic-pagination">
				<a href="{PREVIOUS_PAGE}" class="btn btn-default btn-sm<!-- IF not PREVIOUS_PAGE --> disabled<!-- ENDIF -->"><i class="fa fa-chevron-left"></i> {L_PREVIOUS}</a>
				<!-- IF PAGINATION -->{PAGINATION}<!-- ENDIF -->
				<a href="{NEXT_PAGE}" class="btn btn-default btn-sm<!-- IF not NEXT_PAGE --> disabled<!-- ENDIF -->">{L_NEXT} <i class="fa fa-chevron-right"></i></a>
			</div>
		</div>
	<!-- ENDIF -->

	<!-- IF S_DISPLAY_SEARCHBOX -->
		<div class="col-md-3">
			<form method="get" id="topic-search" action="{S_SEARCHBOX_ACTION}" class="form-search pull-right no-margin">
				<div class="input-group">
					<input class="input-medium form-control"  type="text" name="keywords" id="search_keywords" size="20" placeholder="{LA_SEARCH_TOPIC}"/>
					<span class="input-group-btn">
						{S_SEARCH_LOCAL_HIDDEN_FIELDS}
						<button type="submit" class="btn btn-default">{L_SEARCH}</button>
					</span>
				</div>
			</form>
		</div>
	<!-- ENDIF -->
</div>

<div class="row">
	<div class="col-md-12 text-center">
		<div class="btn-group">
			<!-- IF U_VIEW_UNREAD_POST and not S_IS_BOT --><a href="{U_VIEW_UNREAD_POST}" class="btn btn-default btn-sm">{L_VIEW_UNREAD_POST}</a><!-- ENDIF --><span class="btn btn-default btn-sm disabled">{TOTAL_POSTS}</span>
			<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}" class="btn btn-default btn-sm no-btn">{PAGE_NUMBER}</a><!-- ELSE --> <span class="btn btn-default btn-sm disabled">{PAGE_NUMBER}</span><!-- ENDIF --><!-- ENDIF -->
		</div>
	</div>
</div>

<!-- IF S_NUM_POSTS > 1 or PREVIOUS_PAGE -->
	<div class="well well-sm text-center">
		<form id="viewtopic" method="post" action="{S_TOPIC_ACTION}">
			<fieldset class="display-options">
				<!-- IF not S_IS_BOT -->
				<label>{L_DISPLAY_POSTS}: {S_SELECT_SORT_DAYS}</label>
				<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label> <label>{S_SELECT_SORT_DIR} <input type="submit" name="sort" value="{L_GO}" class="btn btn-default" /></label>
				<!-- ENDIF -->
			</fieldset>
		</form>
	</div>
<!-- ENDIF -->

<!-- INCLUDE jumpbox.html -->

<!-- IF S_TOPIC_MOD -->
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">{L_QUICK_MOD}</h3>
		</div>
		<div class="panel-body">
			<form method="post" action="{S_MOD_ACTION}" class="form-inline pull-right">
				<fieldset class="quickmod">
					{S_TOPIC_MOD} <input type="submit" value="{L_GO}" class="btn btn-default" />
					{S_FORM_TOKEN}
				</fieldset>
			</form>
		</div>
	</div>
<!-- ENDIF -->

<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT and $SHOW_LOGIN_PANEL == 1 -->
	<!-- INCLUDE login_panel.html -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_ONLINE_LIST -->
	<!-- INCLUDE online_panel.html -->
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
