/*
 * Version: 1.0
 */

/*
	Primary color: #e51c1c;
*/

/* Unsorted
----------------------------------------*/

.panel-heading .panel-right {
	margin-top: -20px;
	font-size: 15px;
}

#cp-main h3 {
	font-size: 1em;
}

.username-coloured {
	font-weight: bold;
	display: inline !important;
	padding: 0 !important;
}

.page-header div.subject {
	display: inline-block;
}

.modal-dialog {
	padding-top: 40px;
}

.skiplink {
	position: absolute;
	left: -999px;
	width: 990px;
}

.vote-progress {
	padding-top: 10px;
}

.forum-icon, .forum-topic-icon, .pm-topic-icon {
	padding-right: 5px;
	padding-left: 5px;
}

.topic-name .topictitle, .topic-name small, .forum-name .topictitle, .forum-name small {
	white-space: normal;
}

.forum-name a, a.topictitle {
	color: #333;
}

.forum-name a:hover, .forum-name a:active, a.topictitle:hover, a.topictitle:active {
	color: #e51c1c;
}

#cp-main {
	min-height: 300px;
}

.panel-dash {
	margin-right: -15px;
	margin-left: -15px;
}

.spacer {
	height: 10px;
}

.spacer-h {
	height: 20px;
}

.preview-item {
	padding: 10px 0px;
}


#message-box #message {
	border-radius: 0px !important;
}

.forum-selector {
	float:right;
}

#ucp-nav, #mcp-nav, .post-tabs {
	border-radius: 0px 0px 4px 4px !important;
	border-top: 0px !important;
}

#loginpanel {
	margin-top:20px
}

.panel-foo {
	float:left;
}

#options-tab .form-group .checkbox {
	padding-left: 20px;
}

#update-notification {
	display: none;
}

/* END Unsorted
----------------------------------------*/

* {
	padding: 0px;
	margin: 0px;
}

body {
	padding-top: 0px !important;
}

#simple-wrap {
	padding: 20px;
}

#site-logo {
	margin-bottom: 20px;
	margin-top: 20px;
}

#site-logo img {
	height: 120px;
	width: 129px;
	display: inline;
}

#header-nav {
	margin-bottom: 0px;
}

#content-wrapper {
	padding-top: 20px;
}


/* Bootstrap fixes
----------------------------------------*/

.row {
	margin-bottom: 15px;
}

.container {
	height: 100%;
}


/* Navbar
----------------------------------------*/

.navbar-mini {
	height: 30px !important;
	min-height: 0 !important;
}

.navbar-right .dropdown-menu {
	padding: 10px;
	min-width: 275px;
}

.navbar-nav.navbar-right.fix-right-nav {
	margin-right: 20px !important;
}

.navbar-fix {
	z-index: 10000;
	border-radius: 0px !important;
}

.navbar-logo img {
	height: 46px;
	width: auto;
	padding: 2px 5px;
}

.display-options label {
	margin-bottom: 0px !important;
}

.display-options {
	text-align: center;
}

.linklist {
	list-style-type: none;
}

.default-captcha-image {
	display: block;
	margin: auto;
	max-width: 100%;
}

.bootstrap-select {
	width: auto !important;
}

/* Footer
----------------------------------------*/

#page-footer {
	padding-bottom: 10px;
	border-top: 1px solid #eee;
	padding-top: 15px;
	margin-top: 10px;
}

.footer-padding {
	padding-bottom: 60px !important;
}


/* Buttons
----------------------------------------*/

.btn-reg {
	padding: 0px !important;
	display: inline !important;
}

.btn-sel, .btn-nav, #topicreview {
	margin-bottom: 20px;
}

.btn-sel {
	text-align: right;
}

.btn-nav {
	text-align: center;
}

.btn-post {
	margin-bottom: 15px;
}

.btn-panel .btn-group {
	margin-top: -20px;
}

.btn-panel {
	padding-bottom: 20px !important;
}

.btn-group:only-child {
	border-radius: 0px !important;
}

.topic-buttons {
	float:right;
}

.btn-labeled {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

#format-buttons .btn {
	margin-bottom: 0px !important;
}

.submit-buttons {
	text-align: center;
}

.btn-label {
	position: relative;
	left: -12px;
	display: inline-block;
	padding: 6px 12px;
	background: rgba(0,0,0,0.15);
	border-radius: 3px 0 0 3px;
}

.mcp-buttons {
	margin-bottom: 20px;
}

.clickable {
	cursor: pointer;
}

.chradio {
	display: none;
}


/* Posts
----------------------------------------*/

.attach-editor img {
	max-width: 40px;
	max-height: 40px;
}

.attach-image {
	margin: 3px 0;
	width: 100%;
	max-width: 100%;
	max-height: 350px;
	overflow: auto;
}

.attach-image img {
	border: 1px solid #999999;
	cursor: pointer;
	max-width: 100%;
}

.content img {
	max-width: 100%;
}

.post-icon {
	padding: 0px 10px 0px 0px;
}

#lightbox {
	padding-top: 20px;
}

.post-footer, .review-footer, .faq-footer {
	min-height: 40px;
}

.post-footer {
	overflow: auto;
}

#topicreview {
	overflow: auto;
	max-height: 300px;
}

.signature {
	border-top: 1px solid #eee;
	padding: 10px;
	font-size: 1.1em;
	clear: left;
	line-height: 140%;
	overflow: hidden;
	width: 100%;
}

.signature-preview {
	border-top:none;
	margin-top: 0;
}

.post-info {
	border-bottom: 1px solid #eee;
	padding: 15px;
}

.post-info-left {
	border-right: 1px solid #eee;
}

.post-info-right {
	border-left: 1px solid #eee;
}

.post-head {
	border-bottom: 1px solid #eee;
	margin-left: 0px !important;
	margin-right: 0px !important;
}

#topicreview .post-head {
	padding: 0px 20px;
}

.post-head .author {
	padding-top: 10px;
	padding-left: 0px !important;
}

.post-content {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.post-content-left .post-head {
	padding: 15px 30px 15px 15px;
}

.post-content-right .post-head {
	padding: 15px 15px 15px 30px;
}

.post-content .content {
	padding: 20px;
}

.post-content .attachbox {
	margin: 15px;
}

.content ul, .content ol, ol.def-rules {
	padding-left: 20px;
}

ul.profile-links {
	list-style: none;
	margin-top: 5px;
	margin-bottom: 5px;
}

ul.profile-links li {
	float: left;
	margin: 0 6px 3px 0;
}


/* To top elements
----------------------------------------*/

a.top2 {
	background-image: url("./../images/icon_back_top.gif");
	text-decoration: none;
	padding-left: 15px;
}

#back-to-top {
	cursor: pointer;
	position: fixed;
	bottom: 60px;
	right: 30px;
	display: none;
	z-index: 1000;
}

.to-top {
	float: right;
}


/* Table
------------------------- */

.table th.forum-name, .table th.topic-name {
	width: 50%;
}

.table th.topics, .table th.posts, .table th.mark, .table th.views {
	width: 8%;
	text-align: center;
}

.table th.replies {
	width: 12%;
}

.table th.lastpost {
	width: 25%;
}

.table td.topics, .table td.posts, .table td.mark, .table td.replies, .table td.views, .table th.replies {
	text-align: center;
}

th.forum-name, td.forum-name, th.topic-name, td.topic-name {
	width: 50%;
}


/* Helper Classes
----------------------------------------*/

.no-margin{
	margin: 0px !important;
}

.no-margin-left{
	margin-left: 0px !important;
}

.no-margin-right{
	margin-right: 0px !important;
}

.no-margin-bottom{
	margin-bottom: 0px !important;
}

.no-padding {
	padding: 0px !important;
}

.no-padding-left {
	padding-left: 0px !important;
}

.no-padding-right {
	padding-right: 0px !important;
}

.no-padding-bottom {
	padding-bottom: 0px !important;
}

.no-padding-top {
	padding-top: 0px !important;
}

.clearfix {
	clear:both;
}


/* Icon Addon
----------------------------------------*/

.input-group .icon-addon .form-control {
	border-radius: 0;
}

.icon-addon {
	position: relative;
	color: #555;
	display: block;
}

.icon-addon:after,
.icon-addon:before {
	display: table;
	content: " ";
}

.icon-addon:after {
	clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
	position: absolute;
	z-index: 2;
	left: 10px;
	font-size: 14px;
	width: 20px;
	margin-left: -2.5px;
	text-align: center;
	padding: 10px 0;
	top: 1px
}

.icon-addon.addon-lg .form-control {
	line-height: 1.33;
	height: 46px;
	font-size: 18px;
	padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
	height: 30px;
	padding: 5px 10px 5px 28px;
	font-size: 12px;
	line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
	font-size: 18px;
	margin-left: 0;
	left: 11px;
	top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
	padding-left: 30px;
	float: left;
	font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
	margin-left: 0;
	font-size: 12px;
	left: 5px;
	top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
	color: #e51c1c;
}


/* Nav Sidebar
----------------------------------------*/

.nav-sidebar {
	width: 100%;
	padding: 8px 0;
	border-right: 1px solid #ddd;
}

.nav-sidebar a {
	color: #333;
	background: none;
	border: 0px;
	transition: all 0.08s linear;
	border-radius: 4px 0 0 4px !important;
}

.nav-sidebar .active a {
	cursor: default;
	background-color: #e51c1c;
	color: #fff;
	text-shadow: 1px 1px 1px #666;
}

.nav-sidebar .active a:hover {
	background-color: #e51c1c;
}

.nav-sidebar .text-overflow a, .nav-sidebar .text-overflow .media-body {
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

/* Right-aligned sidebar */
.nav-sidebar.pull-right {
	border-right: 0;
	border-left: 1px solid #ddd;
}

.nav-sidebar.pull-right a {
	border-radius: 0 4px 4px 0;
}


/* Responsive selectors
----------------------------------------*/

@media (min-width: 768px) {
	#main-menu #search {
		width: 300px;
	}

	.forum-topic-icon-mobile, .forum-icon-mobile {
		display:none;
	}

	.pull-right-desktop {
		float: right !important;
	}

	.pull-left-desktop {
		float: left !important;
	}
}

@media (max-width: 767px) {
	.no-margin-xs {
		margin: 0px !important;
	}

	.jumbotron {
		padding: 48px 0 !important;
	}

	.forum-topic-icon, .forum-icon, .topic-pagination {
		display:none;
	}

	.forum-topic-icon-mobile, .forum-icon-mobile {
		display:inline;
	}

	#main-menu-btn, #search-menu-btn, #user-menu-btn {
		border-radius: 0px;
		margin: 0px;
		padding: 15px 20px;
	}

	#main-menu-btn {
		border-width: 0px 1px 0px 0px;
	}

	#search-menu-btn, #user-menu-btn {
		border-width: 0px 0px 0px 1px;
	}

	#main-menu-btn i,#search-menu-btn i, #user-menu-btn i {
		font-size: 20px;
		color: #5e5e5e;
	}

	.navbar-form {
		border-top: 0px !important;
		border-bottom: 0px !important;
	}

	.pull-right-mobile {
		float: right !important;
	}

	.pull-left-mobile {
		float: left !important;
	}

	.navbar-nav.navbar-collapse {
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}

	.content {
		padding: 20px;
	}

	.navbar-right.visible-xs {
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
}

@media (max-width: 991px) {
	.mobile-fix [class^=col-md-] {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#back-to-top {
		bottom: 30px !important;
	}
}


/* User Profile
----------------------------------------*/

.user-details {
	padding: 0;
}

.user-details .user-image {
	position: relative;
	z-index: 1;
	margin: auto;
	text-align: center;
	top: 45px !important;
}

.user-image img {
	clear: both;
	margin: auto;
	position: relative;
}

@media (max-width: 768px) {
	.user-image img {
		width: 80px;
	}
}

.user-details .user-info-block {
	width: 100%;
	background: rgb(255, 255, 255);
	z-index: 0;
	padding-top: 35px;
}

.user-info-block .user-heading {
	width: 100%;
	text-align: center;
	margin: 10px 0 0;
}

.user-info-block .navigation {
	height: 60px;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	border-bottom: 1px solid #e51c1c;
	border-top: 1px solid #e51c1c;
	text-align: center
}

@media (max-width: 768px) {
	.user-info-block .navigation {
		display: none;
	}
}

.navigation li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.navigation li a {
	padding: 20px 30px;
	float: left;
}

.navigation li.active a {
	background: #e51c1c;
	color: #fff;
}

.user-info-block .user-body {
	padding: 5% 5% 0 5%;
}

.user-body .tab-content > div {
	float: left;
	width: 100%;
}

.user-body .tab-content h4 {
	width: 100%;
	margin: 10px 0;
	color: #333;
}

/* Badger
----------------------------------------*/

[class*="badger"] {
	position: relative;
	background: #fff;
}

[class*="badger"]:after {
	content: attr(data-badger) !important;
	position: absolute;
	top: 0;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background: #999;
	color: #fff;
}

.badger-left:after {
	left: 0;
	border-radius: 0px 0 6px 0;
}

.badger-left-radius:after {
	border-radius: 4px 0 6px 0;
	left: 0;
}

.badger-right:after {
	right: 0;
	border-radius: 0 0 0 6px;
}

.badger-danger:after {
	background: #d9534f;
}

.badger-warning:after {
	background: #f0ad4e;
}

.badger-success:after {
	background: #5cb85c;
}

.badger-info:after {
	background: #5bc0de;
}

.badger-inverse:after {
	background: #222;
}

/* Breadcrumb
----------------------------------------*/

.btn-breadcrumb .btn:not(:last-child):after {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 17px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 10px solid white;
	position: absolute;
	top: 50%;
	margin-top: -17px;
	left: 100%;
	z-index: 3;
}

.btn-breadcrumb .btn:not(:last-child):before {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 17px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 10px solid rgb(173, 173, 173);
	position: absolute;
	top: 50%;
	margin-top: -17px;
	margin-left: 1px;
	left: 100%;
	z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
	padding:6px 12px 6px 24px;
}

.btn-breadcrumb .btn:first-child {
	padding:6px 6px 6px 10px;
}

.btn-breadcrumb .btn:last-child {
	padding:6px 18px 6px 24px;
}

.btn-breadcrumb .btn:only-child {
	padding: 6px 10px !important;
}

/** Primary button **/
.btn-breadcrumb .btn.btn-primary:not(:last-child):after {
	border-left: 10px solid #d01818;
}

.btn-breadcrumb .btn.btn-primary:not(:last-child):before {
	border-left: 10px solid #d01818;
}

.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):after {
	border-left: 10px solid #d01818;
}

.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):before {
	border-left: 10px solid #d01818;
}

/* Alert Messages
----------------------------------------*/

.alert-message {
	margin:20px 0;
	padding:20px;
	border-left:3px solid #eee;
}

.alert-message h4 {
	margin-top:0;
	margin-bottom:5px;
}

.alert-message p:last-child {
	margin-bottom:0;
}

.alert-message code {
	background-color:#fff;
	border-radius:3px;
}

.alert-message-success {
	background-color:#F4FDF0;
	border-color:#3C763D;
}

.alert-message-success h4 {
	color:#3C763D;
}

.alert-message-danger {
	background-color:#fdf7f7;
	border-color:#d9534f;
}

.alert-message-danger h4 {
	color:#d9534f;
}

.alert-message-warning {
	background-color:#fcf8f2;
	border-color:#f0ad4e;
}

.alert-message-warning h4 {
	color:#f0ad4e;
}

.alert-message-info {
	background-color:#f4f8fa;
	border-color:#5bc0de;
}

.alert-message-info h4 {
	color:#5bc0de;
}

.alert-message-default {
	background-color:#EEE;
	border-color:#B4B4B4;
}

.alert-message-default h4 {
	color:#000;
}

.alert-message-notice {
	background-color:#FCFCDD;
	border-color:#BDBD89;
}

.alert-message-notice h4 {
	color: #444;
}

/* Mega Menu
----------------------------------------*/

.mega .nav, .mega .collapse, .mega .dropup, .mega .dropdown {
	position: static;
}

.mega .container {
	position: relative;
}

.mega .dropdown-menu {
	left: auto;
}

.mega .nav.navbar-right .dropdown-menu {
	left: auto;
	right: 0;
}

.mega .mega-content {
	padding: 20px 30px;
}

.mega .dropdown.mega-fw .dropdown-menu {
	left: 0;
	right: 0;
}

/* PM Styles
----------------------------------------*/

/* PM Message history */
.pm-legend {
	border-left-width: 10px;
	border-left-style: solid;
	border-right-width: 0;
	margin-bottom: 3px;
	padding-left: 3px;
}

.current {
	color: #000000 !important;
}

/* PM marking colours */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #BC2A4D;
	border-right-color: #BC2A4D;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	border-color: #FF6600;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	border-color: #A9B8C2;
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	border-color: #5D8FBD;
}

.pmlist li.pm_foe_colour, .pm_foe_colour {
	border-color: #000000;
}

/* Alerts
----------------------------------------*/

hr.message-inner-separator {
	clear: both;
	margin-top: 10px;
	margin-bottom: 13px;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

/* My awesome style LOLO
----------------------------------------*/
#header-nav .navbar-brand {
	font-size: 9px;
	padding: 0 8px;
	line-height: 50px;
}

@media (min-width: 350px) {
	#header-nav .navbar-brand {
		font-size: 18px;
		padding: 15px;
		line-height: 20px;
	}
}

.panel-info {
	border-color: #1b1b1b !important;
}

.panel-info>.panel-heading {
	color: #fff !important;
	background-color: #242424 !important;
	border-color: #1b1b1b !important;
}

.post-info.post-info-left {
	padding-top: 40px;
}

textarea {
	resize: vertical;
}

.form-control:focus, .form-control:active {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
	border-color: #e51c1c !important;
}

#memberlist tbody>tr>td {
	vertical-align: middle;
}

#memberlist tbody>tr>td:nth-child(2) {
	text-align: center;
}

#memberlist tbody>tr>td:nth-child(2) img {
	width: 135px;
}

.signature img {
	max-width: 100%;
}

@media (max-width: 768px) {
	.margin-class {
		margin-bottom: 15px !important;
	}
}

.last_visit_date, .time_zone, .white-spaces, .filter-option {
	white-space: normal !important;
}

.pull-right.mark-forums-read {
	width: 100% !important;
	margin-top: 15px;
}

.unanswered-posts, .unread-posts, .new-posts, .active-topics, .mark-forums-read {
	border-radius: 3px !important;
	width: 100%;
	margin-top: 2px;
}

@media (min-width: 768px) {
	.unanswered-posts, .unread-posts, .new-posts, .active-topics, .mark-forums-read {
		border-radius: inherit !important;
		width: inherit;
		margin-top: 0;
	}

	.unanswered-posts {
		border-radius: 3px 0 0 3px !important;
	}

	.active-topics {
		border-radius: 0 3px 3px 0 !important;
	}

	.pull-right.mark-forums-read {
		width: initial !important;
	}

	.mark-forums-read {
		border-radius: 3px !important;
	}
}

@media (min-width: 768px) {
	.pull-right.mark-forums-read {
		margin-top: 0;
	}
}

#login-form-home #username, #login-form-home #password, #login-form-home #login{
	border-radius: 3px !important;
	width: 100% !important;
	margin-top: 2px;
}

.register-btn {
	width: 100%;
}

@media (min-width: 450px) {
	#login-form-home #username, #login-form-home #password, #login-form-home #login{
		border-radius: inherit !important;
		width: inherit !important;
		margin-top: 0;
	}

	#login-form-home #username {
		border-radius: 3px 0 0 3px !important;
	}

	#login-form-home #login {
		border-radius: 0 3px 3px 0 !important;
	}

	.register-btn {
		width: inherit;
	}
}

@media (max-width: 420px) {
	.hidden-sxs {
		display: none !important;
	}
}

.faq li, .faq dd {
	word-break: break-word;
}

.faq li img, .faq dd img {
	max-width: 100%;
}

#review_panel {
	margin-top: 0px;
}

@media (min-width: 500px) {
	#review_panel {
		margin-top: -20px;
	}
}

.pagination-memberlist {
	width: 100%;
}

.pagination-memberlist li {
	display: inline-block !important;
	width: 12.5%;
	float: left;
}

.pagination-memberlist li:first-child, .pagination-memberlist li:nth-child(2) {
	width: 50%;
}

.pagination-memberlist li:last-child {
	width: 25%;
}

.pagination-memberlist li a {
	display: block;
	width: 100%;
	margin: 1px;
	border-radius: 3px;
}

@media (min-width: 480px) {
	.pagination-memberlist li:first-child {
		width: 37.5%;
	}
	.pagination-memberlist li:nth-child(2) {
		width: 12.5%;
	}
}

@media (min-width: 640px) {
	.pagination-memberlist li {
		width: 5%;
	}

	.pagination-memberlist li:first-child, .pagination-memberlist li:nth-child(2) {
		width: 22.5%;
	}
}

@media (min-width: 1200px) {
	.pagination-memberlist li {
		width: 3%;
	}

	.pagination-memberlist li:first-child {
		width: 12%;
	}
	.pagination-memberlist li:nth-child(2) {
		width: 6%;
	}

	.pagination-memberlist li:last-child {
		width: 4%;
	}
}

.btn-lg {
	padding: 8px 14px !important;
}

.table>tbody>tr>td {
	vertical-align: middle !important;
}

.unread-forum, a.subforum.unread, a.forumtitle {
	color: #e51c1c !important;
}

.forum-icon .unread-forum i.fa, .unread-forum i.fa {
	color: #fff !important;
}

.navbar {
	min-height: 0 !important;
}

span.btn-hide-nav {
	position: fixed;
    background-color: #e51c1c;
    color: #fff;
	cursor: pointer;
}

span.nav-header {
	top: 51px;
	left: 50px;
	padding: 1px 10px 2px 10px;
	border-radius: 0 0 5px 5px;
}

#footer-nav {
	display: none;
}

span.nav-footer {
	bottom: 0px;
	left: 15px;
	padding: 2px 14.5px 1px 14.5px;
	border-radius: 5px 5px 0 0;
}

.page-dots {
	display: none;
}

.avatar a img {
	width: 50px !important;
	height: 83px !important;
}

.rank-img img {
	width: 100px;
}

@media (min-width: 768px) {
	.avatar a img {
		width: 150px !important;
		height: 250px !important;
	}

	.rank-img img {
		width: 180px;
	}
}
